
# Typecasting

There are three numeric types in python
1] int
2] float
3] complex

In [1]:
#print("int, float to string:")


print("int to string:")
a=10
var=20.4
print(a)
print(type(a))
var1=str(a)
print(var1)
print(type(var1))


print("float to string:")
print(var)
print(type(var))
var2=str(var)
print(var2)
print(type(var2))

int to string:
10
<class 'int'>
10
<class 'str'>
float to string:
20.4
<class 'float'>
20.4
<class 'str'>

In [2]:
#print("int, string to float")
a=10
str1="100.5"
str2="nitin"

print("int to float:")


print(a)
print(type(a))
var1=float(a)
print(var1)
print(type(var1))

print("string to float:")

print(str1)
print(type(str1))
var2=float(str1)
print(var2)
print(type(var2))

print(str2)
print(type(str2))
var3=float(str2)
print(var3)
print(type(var3))

int to float:
10
<class 'int'>
10.0
<class 'float'>
string to float:
100.5
<class 'str'>
100.5
<class 'float'>
nitin
<class 'str'>

ValueError: could not convert string to float: 'nitin'

In [ ]:
#print("float,string to int")
var=20.5
str1="100"
str2="nitin"

print("float to int:")
print(var)
print (type(var))
var1=int(var)
print(var1)
print(type(var1))

print("string to int:")
print(str1)
print(type(str1))
var2=int(str1)
print(var2)
print(type(var2))

print(str2)
print(type(str2))
var3=int(str2)
print(var3)
print(type(var3))

complex number

In [ ]:
print("complex to string:")
comp=3+5j
print(comp)
print(type(comp))
var=str(comp)
print(var)
print(type(var))

Now we do string to complex

In [ ]:
str1="3+5j"
str2="nitin"
print(str1)
print(type(str1))
var1=complex(str1)
print(var1)
print(type(var1))

print(str2)
print(type(str2))
var2=complex(str2)
print(var2)
print(type(var2))

# Other types to complex conersion

In [ ]:
var=20
print(var)
print(type(var))
var1=complex(var)
print(var1)
print(type(var1))


var2=10.5
print(var2)
print(type(var2))
var3=complex(var2)
print(var3)
print(type(var3))



var4="20.6"
print(complex(var4))

In [ ]:
print(complex(5,2))
print(complex(20.5,4))

print(complex(True,False))

# Boolean

Bool()

In [ ]:
print(int(True))

In [3]:
print(int(False))

0

In [4]:
print(float(True))

1.0

In [5]:
print(float(False))

0.0

In [6]:
print(complex(True))

(1+0j)

In [7]:
print(complex(False))

a=0+0j
print(a)

0j
0j

In [8]:
print(str(True))

True

In [9]:
print(str(False))

False

In [10]:
print(bool(3.2))
print(bool(0.0))

True
False

In [11]:
print(bool(1))
print(bool(0))

True
False

In [12]:
print(bool(""))
print(bool())
print(bool(45))
print (bool("n"))

False
False
True
True

In [13]:
print(bool(2+3j))
print(bool(2+0j))
print(bool(0+3j))
print (bool(0+0j))

True
True
True
False

# String Slicing

#Slicing is making pieces of some separator

#[] is a slice operator

In [14]:
str1="This tutorial is basically designed for beginers"

str1[0]

'T'

In [15]:
str1[11]

'a'

In [16]:
str1[0:]

'This tutorial is basically designed for beginers'

In [17]:
str1[:0]

''

In [18]:
str1[4:15]

' tutorial i'

In [19]:
str1

'This tutorial is basically designed for beginers'

In [20]:
str1[:25]

'This tutorial is basicall'

In [21]:
type(str1)

str

In [22]:
str1[-1]

's'

In [23]:
str1[-19:]

'signed for beginers'

In [24]:
str1[-13:-2]

' for begine'

In [25]:
str1[-1:]

's'

In [26]:
str3=str1[:14]
str3*3

'This tutorial This tutorial This tutorial '

In [27]:
str1[:-1]

'This tutorial is basically designed for beginer'

In [28]:
str1[:-16]

'This tutorial is basically desig'

In [29]:
str3=str1[:-20]
str3*3

'This tutorial is basically dThis tutorial is basically dThis tutorial is basically d'

In [30]:
str3=str1[12:]
str3*3

'l is basically designed for beginersl is basically designed for beginersl is basically designed for beginers'

In [31]:
str4=str1[2:23]
str4*2

'is tutorial is basicais tutorial is basica'

# Immutability

#In python once an object is created ,we are not allowed to change

#The content,if you want to change  the content PVM will create a new object for it

In [32]:
var=200
var1=var
print(id(var))
print("and \n",id(var1))
print(var is var1)

10920864
and
 10920864
True

In [33]:
var= 2+3j
var1=2+3j
print(var is var1)
print(id(var))
print("and \n",id(var1))  #id is different

False
140374980278640
and
 140374980278448

assignment :Try same string and boolean types

In [34]:
#for string


var="nitin"
var1=var
print(id(var))
print("and \n",id(var1))
print(var is var1)

140375041668464
and
 140375041668464
True

In [35]:
var="khot"
var1="khot"
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
140374971508248
and
 140374971508248

In [36]:
#for boolean

var=True
var1=var
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
10302848
and
 10302848

In [37]:
var=True
var1=True
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
10302848
and
 10302848

In [38]:
var=True
var1=False
print(var is var1)
print(id(var))
print("and \n",id(var1))

False
10302848
and
 10300256

In [39]:
var=False
var1=False
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
10300256
and
 10300256

# Bytes and Bytearray Data Type

In [40]:
#bytes can hold the values  from 0 to 256
#You cant change the value of bytes once itis created


a = [10,20,30,40,50,60,70,80]
print(type(a))

b = bytes(a)  #b[2]=90
              #it will raise error
             #bytes object doe not support item assignment

print(type(b))

for i in b:
    print(i)

<class 'list'>
<class 'bytes'>
10
20
30
40
50
60
70
80

In [41]:
#Bytearray
#You can change the value of bytearray after creation also 


a=[10,20,30,40,50]
print (type(a))

b = bytearray(a)

print(type(b))
for i in b:
        print(i)
        
b[2]= 200
print("New List:")
for i in b:
    print(i)
print("This is Difference")

<class 'list'>
<class 'bytearray'>
10
20
30
40
50
New List:
10
20
200
40
50
This is Difference

# Data Types

Text type = str
Numeric types = int,float,complex
Sequence types = list, tuple,range
Mapping type = dict
Set types = set, frozenset
Boolean type = bool
Binary types = bytes bytearray,memoryview

# 1.List

In [42]:
#Example

list1 = [10,20,30,40,50]
list2 = [10.1,20.2,30.3,40.4,50.5]
list3 = ['Nitin','Rahul','Datta','Ajay']
list4 = [20,10.1,'Nitin']

print(list1)
print(list2)
print(list3)
print(list4)

[10, 20, 30, 40, 50]
[10.1, 20.2, 30.3, 40.4, 50.5]
['Nitin', 'Rahul', 'Datta', 'Ajay']
[20, 10.1, 'Nitin']

In [43]:
print(type(list1))

<class 'list'>

In [44]:
print(list1[2])
print(list2[0])
print(list3[0])
print(list1)
print(list2)
print(list3)
print(list4)

30
10.1
Nitin
[10, 20, 30, 40, 50]
[10.1, 20.2, 30.3, 40.4, 50.5]
['Nitin', 'Rahul', 'Datta', 'Ajay']
[20, 10.1, 'Nitin']

In [45]:
list1[0:4]

[10, 20, 30, 40]

In [46]:
list2[:-3]

[10.1, 20.2]

In [47]:
print("length of list1")
print(len(list1))

length of list1
5

In [48]:
print(list1)
list1.append('Nitin')
print(list1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 'Nitin']

In [49]:
print(list1)
list1.remove('Nitin')
print(list1)

[10, 20, 30, 40, 50, 'Nitin']
[10, 20, 30, 40, 50]

In [50]:
print(list1)
list1.remove(20)
print(list1)

[10, 20, 30, 40, 50]
[10, 30, 40, 50]

#assignment
1.append
2.copy 
3.count 
4.insert 
5.index 
6.pop 
7.remove 
8.reverse 
9.extend
10.sort 
11.clear

In [51]:
list1 = [10,20,30,40,50]

#append

print(list1)
list1.append(60)
print(list1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]

In [52]:
#copy

print(list1)
list1.copy 
print(list1)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [53]:
#count

print(list1)
cnt=list1.count(20)
print(cnt)

[10, 20, 30, 40, 50, 60]
1

In [54]:
#insert

print(list1)
list1.insert(3,55)
print(list1)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 55, 40, 50, 60]

In [55]:
#index

print(list1)
loc = list1.index(30)
print(loc)

[10, 20, 30, 55, 40, 50, 60]
2

In [56]:
#pop

print(list1)
list1.pop(2)
print(list1)

[10, 20, 30, 55, 40, 50, 60]
[10, 20, 55, 40, 50, 60]

In [57]:
#remove

print(list1)
list1.remove(50)
print(list1)

[10, 20, 55, 40, 50, 60]
[10, 20, 55, 40, 60]

In [58]:
#reverse

print(list1)
list1.reverse()
print(list1)

[10, 20, 55, 40, 60]
[60, 40, 55, 20, 10]

In [59]:
#sort

print(list1)
list1.sort()
print(list1)

[60, 40, 55, 20, 10]
[10, 20, 40, 55, 60]

In [60]:
#extend

print(list1)
l=[100]
list1.extend(l)
print(list1)

[10, 20, 40, 55, 60]
[10, 20, 40, 55, 60, 100]

In [61]:
#clear

print(list1)
list1.clear()
print(list1)

[10, 20, 40, 55, 60, 100]
[]

In [62]:
list2 = [10.4,50.4,30.6,20.5,40.1]   #Float

In [63]:
#append

print(list2)
list2.append(60.7)
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1]
[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]

In [64]:
#copy

print(list2)
list2.copy
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]

In [65]:
#count

print(list2)
list2.count(20.5)
print(list2.count(20.5))

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
1

In [66]:
#insert

print(list2)
list2.insert(3,34.4)
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 34.4, 20.5, 40.1, 60.7]

In [67]:
#index

print(list2)
loc=list2.index(34.4)
print(loc)

[10.4, 50.4, 30.6, 34.4, 20.5, 40.1, 60.7]
3

In [68]:
#pop


print(list2)
list2.pop(3)
print(list2)

[10.4, 50.4, 30.6, 34.4, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]

In [69]:
#remove

print(list2)
list2.remove(40.1)
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 20.5, 60.7]

In [70]:
#reverse

print(list2)
list2.reverse()
print(list2)

[10.4, 50.4, 30.6, 20.5, 60.7]
[60.7, 20.5, 30.6, 50.4, 10.4]

In [71]:
#sort

print(list2)
list2.sort()  #ascending order
print(list2)

[60.7, 20.5, 30.6, 50.4, 10.4]
[10.4, 20.5, 30.6, 50.4, 60.7]

In [72]:
print(list2)
list2.sort(reverse=True) #descnding order
print(list2)

[10.4, 20.5, 30.6, 50.4, 60.7]
[60.7, 50.4, 30.6, 20.5, 10.4]

In [73]:
#Extend


print(list2)
list2.extend(list2)
print(list2)

[60.7, 50.4, 30.6, 20.5, 10.4]
[60.7, 50.4, 30.6, 20.5, 10.4, 60.7, 50.4, 30.6, 20.5, 10.4]

In [74]:
#print(list2)
#list2.extend(7) #'int' object is not iterable
                #here list,tuple,string are the iterable
#print(list2)

In [75]:
#Clear

print(list2)
list2.clear  
print(list2)

[60.7, 50.4, 30.6, 20.5, 10.4, 60.7, 50.4, 30.6, 20.5, 10.4]
[60.7, 50.4, 30.6, 20.5, 10.4, 60.7, 50.4, 30.6, 20.5, 10.4]

In [76]:
list3 = ['Nitin', 'Rahul', 'Datta', 'Ajay']

In [77]:
#append

print(list3)
list3.append('Nitin')  
print(list3)

['Nitin', 'Rahul', 'Datta', 'Ajay']
['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']

In [78]:
#copy


print(list3)
list3.copy
print(list3)

['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']
['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']

In [79]:
#count

print(list3)
count=list3.count('Nitin')
print(count)

['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']
2

In [80]:
#insert

print(list3)
list3.insert(2,'Sagar')  
print(list3)

['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']
['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay', 'Nitin']

In [81]:
#index

print(list3)
loc=list3.index('Nitin',2) 
print(loc)

['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay', 'Nitin']
5

In [82]:
#pop

print(list3)
list3.pop(5)
print(list3)

['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay', 'Nitin']
['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay']

In [83]:
#remove

print(list3)
list3.remove('Ajay')
print(list3)

['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay']
['Nitin', 'Rahul', 'Sagar', 'Datta']

In [84]:
#reverse

print(list3)
list3.reverse()
print(list3)

['Nitin', 'Rahul', 'Sagar', 'Datta']
['Datta', 'Sagar', 'Rahul', 'Nitin']

In [85]:
#sort

print(list3)
list3.sort() #ascending 
print(list3)

['Datta', 'Sagar', 'Rahul', 'Nitin']
['Datta', 'Nitin', 'Rahul', 'Sagar']

In [86]:
#print(list3)
print(list3)
list3.sort(reverse=True)
print(list3)

['Datta', 'Nitin', 'Rahul', 'Sagar']
['Sagar', 'Rahul', 'Nitin', 'Datta']

In [87]:
#Extend

print(list3)
list3.extend("a")
print(list3)

['Sagar', 'Rahul', 'Nitin', 'Datta']
['Sagar', 'Rahul', 'Nitin', 'Datta', 'a']

In [88]:
#clear

print(list3)
list3.clear()
print(list3)

['Sagar', 'Rahul', 'Nitin', 'Datta', 'a']
[]

# 2 Tuple

1.Tuple is ordered and unchangable
2.Immutable (you cant change the elements or cant added in tuple)
3.()are used to represent the tuple
4.Allow Duplicates
5.Tuples are read only version of your list except list is growable

In [89]:
tup = ("blue","red","green","yellow","black","white")

print(tup)

('blue', 'red', 'green', 'yellow', 'black', 'white')

In [90]:
len(tup)

6

In [91]:
tup1 = ("blue")
print(type(tup1))

tup1 = ("blue",)
print(type(tup1))

<class 'str'>
<class 'tuple'>

In [92]:
tup2 = ("potato",10,"n",45)
print(tup2)

('potato', 10, 'n', 45)

In [93]:
tup3 =tuple((10,20,30))  #tuple () is constructor
print(tup3)

(10, 20, 30)

In [94]:
#access
print(tup)
tup[1]

('blue', 'red', 'green', 'yellow', 'black', 'white')

'red'

In [95]:
print(tup)
tup[-3]

('blue', 'red', 'green', 'yellow', 'black', 'white')

'yellow'

In [96]:
#range of items
tup[1:4]

('red', 'green', 'yellow')

In [97]:
#Change tuple vlue using list
print(tup)
print(type(tup))
var=list(tup)
print(var)
print(type(var))

#change value

var[2]='orange'
print(var)

#convert back to tuple

tup= tuple(var)
print(type(tup))
print(tup)

('blue', 'red', 'green', 'yellow', 'black', 'white')
<class 'tuple'>
['blue', 'red', 'green', 'yellow', 'black', 'white']
<class 'list'>
['blue', 'red', 'orange', 'yellow', 'black', 'white']
<class 'tuple'>
('blue', 'red', 'orange', 'yellow', 'black', 'white')

In [98]:
#add items

print(tup)
print(type(tup))
var=list(tup)
print(var)
print(type(var))

var.insert(3,'pink')

print(var)

#convert back to tuple

tup= tuple(var)
print(type(tup))
print(tup)

('blue', 'red', 'orange', 'yellow', 'black', 'white')
<class 'tuple'>
['blue', 'red', 'orange', 'yellow', 'black', 'white']
<class 'list'>
['blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white']
<class 'tuple'>
('blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white')

In [99]:
#tuple concat +
a_tup3 = (10,20,30)
a_tup4 = ('d','b','c')
print(a_tup3)
print(a_tup4)
#concat

var1 = a_tup3 + a_tup4

print("The concat is :",var1)

(10, 20, 30)
('d', 'b', 'c')
The concat is : (10, 20, 30, 'd', 'b', 'c')

In [100]:
#remove items using list

print(tup)
print(type(tup))

var = list(tup)
print(type(var))
print(var)

var.remove('pink')

tup= tuple(var)
print(tup)
print(type(tup))

('blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white')
<class 'tuple'>
<class 'list'>
['blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white']
('blue', 'red', 'orange', 'yellow', 'black', 'white')
<class 'tuple'>

In [101]:
#complete deletion of tuple using del tuple_name

tup5 = ('a','b','c','d')
print(tup5)
del tup5      #here delete complete tuple
print(tup5)  # name 'tup5' is not defined

('a', 'b', 'c', 'd')

NameError: name 'tup5' is not defined

In [102]:
#use asterisk

colours = ('blue', 'red', 'orange', 'yellow', 'black', 'white')

(apple,*banana,mango) = colours

print(apple)
print(banana)
print(mango)

blue
['red', 'orange', 'yellow', 'black']
white

In [103]:
colours = ('blue', 'red', 'orange', 'yellow', 'black', 'white')

(apple,banana,*mango) = colours

print(apple)
print(banana)
print(mango)

blue
red
['orange', 'yellow', 'black', 'white']

In [104]:
#count() and index()
print(tup)
cnt=tup.count('red')
print(cnt)

('blue', 'red', 'orange', 'yellow', 'black', 'white')
1

In [105]:
print(tup)
loc = tup.index('yellow')
print(loc)

('blue', 'red', 'orange', 'yellow', 'black', 'white')
3

# 3 Set

1.Set is unordered collection of elements
2.It is mutable
3.It is growable
4.set items are unchangeable
5.{}are used represent set
6.Index concept is not applicable
7.duplicates are not allowed

In [106]:
s = {1,2,"nitin","pear"}
print(s)

{1, 2, 'pear', 'nitin'}

In [107]:
print(len(s))

4

In [108]:
#set() constructor
set1 = set(("red","blue","green"))
print(set1)
print(type(set1))

{'green', 'blue', 'red'}
<class 'set'>

In [109]:
#accessing set

var = "red" in s

print(var)

print(1 in s)

False
True

In [110]:
#once st is created you cant change elements value
#but you can add the values

print(set1)
set1.add(1)
print(set1)

{'green', 'blue', 'red'}
{1, 'green', 'blue', 'red'}

In [111]:
#using update you can add any iterable items like set, list, tuple, dict-keys
set2 = {"apple","banana","mango"}
print(set2)
tup = (10,20,30)
print(tup)
set1.update(set2)
print(set1)
set1.update(tup)
print(set1)

{'apple', 'banana', 'mango'}
(10, 20, 30)
{'apple', 1, 'banana', 'green', 'mango', 'red', 'blue'}
{1, 10, 20, 'mango', 30, 'banana', 'green', 'blue', 'apple', 'red'}

In [112]:
#remove(),  discard(), pop()

print("Remove using remove:\n",set1)
set1.remove("blue")
print(set1)

print("Remove using discard:\n",set1)
set1.discard(1)
print(set1)

print("Remove using pop:\n",set1)
set1.pop()
print(set1)

Remove using remove:
 {1, 10, 20, 'mango', 30, 'banana', 'green', 'blue', 'apple', 'red'}
{1, 10, 20, 'mango', 30, 'banana', 'green', 'apple', 'red'}
Remove using discard:
 {1, 10, 20, 'mango', 30, 'banana', 'green', 'apple', 'red'}
{10, 20, 'mango', 30, 'banana', 'green', 'apple', 'red'}
Remove using pop:
 {10, 20, 'mango', 30, 'banana', 'green', 'apple', 'red'}
{20, 'mango', 30, 'banana', 'green', 'apple', 'red'}

In [113]:
#union

#adds elements of two sets and create new sets

print(s)
print()
s = s.union(set1)
print(s)

{1, 2, 'pear', 'nitin'}

{1, 2, 'banana', 'green', 'pear', 'apple', 20, 'mango', 'red', 'nitin', 30}

In [114]:
#intersection

print(s)
print(set1)
i = s.intersection(set1)
print("intersection is:",i)

#keeps duplicates in set1
s.intersection_update(set1)
print("intersection update  :",s)

{1, 2, 'banana', 'green', 'pear', 'apple', 20, 'mango', 'red', 'nitin', 30}
{20, 'mango', 30, 'banana', 'green', 'apple', 'red'}
intersection is: {'banana', 'green', 'apple', 20, 'mango', 'red', 30}
intersection update  : {'banana', 'green', 'apple', 20, 'mango', 'red', 30}

In [115]:
#keeps elements which are not present in other set

s_1 = {1,2,3,4,5}
s_2 = {3,4,5,6,7}


print(s)
print(set1)
s.symmetric_difference_update(set1)
print("symmetric difference update is :",s)


k = s_1.symmetric_difference(s_2)

v=s_1.difference(s_2)
print('symmetric difference:',k)
print(' difference:',v)

{'banana', 'green', 'apple', 20, 'mango', 'red', 30}
{20, 'mango', 30, 'banana', 'green', 'apple', 'red'}
symmetric difference update is : set()
symmetric difference: {1, 2, 6, 7}
 difference: {1, 2}

In [116]:
#isdisjoint()returns whether two sets are intersection or not
#issubset()returns whether another set contains this set are not
#issuperset()returns whether this set contains another set are not

print(s.isdisjoint(set1))
print(s.issubset(set1))
print(set1.issuperset(s))

True
True
True

In [117]:
#del and clear() method removes the set comletely

# 4 Frozenset

In [118]:
#Frozenset set is same as set but it is immmutable


set3 = {"apple","banana","grapes","orange"}
m = frozenset({1,2,3,"apple","grapes","orange"})

print(type(m))

print(m)


#print(type(set3))
n = frozenset(set3)
print(n)
print(type(n))

<class 'frozenset'>
frozenset({'apple', 1, 2, 3, 'grapes', 'orange'})
frozenset({'apple', 'banana', 'orange', 'grapes'})
<class 'frozenset'>

In [119]:
#supported methods for frozenset
#1.copy()

print(n)
print(type(n))
n.copy()
print(n)

frozenset({'apple', 'banana', 'orange', 'grapes'})
<class 'frozenset'>
frozenset({'apple', 'banana', 'orange', 'grapes'})

In [120]:
#2.difference

print(n)
print(m)
p = n.difference(m)
print("difference is :",p)

frozenset({'apple', 'banana', 'orange', 'grapes'})
frozenset({'apple', 1, 2, 3, 'grapes', 'orange'})
difference is : frozenset({'banana'})

In [121]:
#3.intersection

#print(n)
#print(m)
d=set(n)
print(d)
print(type(d))

e=set(m)
print(e)
print(type(e))
b = d.intersection(e)
fr = frozenset(b)
print(fr)
print(type(fr))

{'apple', 'banana', 'orange', 'grapes'}
<class 'set'>
{'apple', 1, 2, 3, 'grapes', 'orange'}
<class 'set'>
frozenset({'apple', 'grapes', 'orange'})
<class 'frozenset'>

In [122]:
#4.isdisjoint

print(m)
print(n)
l=n.isdisjoint(m)
print(l)

frozenset({'apple', 1, 2, 3, 'grapes', 'orange'})
frozenset({'apple', 'banana', 'orange', 'grapes'})
False

In [123]:
#5.issubset

print(m)
print(n)
l=n.issubset(m)
print(l)

frozenset({'apple', 1, 2, 3, 'grapes', 'orange'})
frozenset({'apple', 'banana', 'orange', 'grapes'})
False

In [124]:
print(m)
print(n)
l=m.issubset(n)
print(l)

frozenset({'apple', 1, 2, 3, 'grapes', 'orange'})
frozenset({'apple', 'banana', 'orange', 'grapes'})
False

In [125]:
#6.issuperset

print(m)
print(n)
l=n.issuperset(m)
print(l)

frozenset({'apple', 1, 2, 3, 'grapes', 'orange'})
frozenset({'apple', 'banana', 'orange', 'grapes'})
False

In [126]:
print(m)
print(n)
l=m.issuperset(n)
print(l)

frozenset({'apple', 1, 2, 3, 'grapes', 'orange'})
frozenset({'apple', 'banana', 'orange', 'grapes'})
False

In [127]:
#7.symmetric_difference

#print(m)
#print(n)
d=set(n)
print(d)
print(type(d))

e=set(m)
print(e)
print(type(e))

l=d.symmetric_difference(e)

fr = frozenset(l)
print(fr)
print("symmetric difference:",fr)
print(type(fr))

{'apple', 'banana', 'orange', 'grapes'}
<class 'set'>
{'apple', 1, 2, 3, 'grapes', 'orange'}
<class 'set'>
frozenset({1, 2, 3, 'banana'})
symmetric difference: frozenset({1, 2, 3, 'banana'})
<class 'frozenset'>

In [128]:
#8.union
print(m)
print(n)
k=m.union(n)
print(k)

frozenset({'apple', 1, 2, 3, 'grapes', 'orange'})
frozenset({'apple', 'banana', 'orange', 'grapes'})
frozenset({1, 2, 3, 'banana', 'grapes', 'orange', 'apple'})


# 5 Dictionary

1. stores data in key value:value pair
2.It is ordered,changeable and does not allow duplicates
3.{} are used to write dictionaries
4.Items are reffered using key
5.from python version 3.7,dictionaries are ordered

In [129]:
dict1 = {
        'name' :'Nitin',
        'mobile' : 9503596355,
        'address' : 'jath',
        'job' :'data',
        'salary' : 40000
}
print(dict1)

{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'job': 'data', 'salary': 40000}

In [130]:
print(dict1['name'])

Nitin

In [131]:
print(len(dict1))

5

In [132]:
print(type(dict1))

<class 'dict'>

In [133]:
#accessing elements
print(dict1['salary'])
n = dict1.get('job')

print(n)

40000
data

In [134]:
print(dict1.keys())

dict_keys(['name', 'mobile', 'address', 'job', 'salary'])

In [135]:
#add new item
dict1['c_address'] = 'pune'
print(dict1.keys())

dict_keys(['name', 'mobile', 'address', 'job', 'salary', 'c_address'])

In [136]:
#values
print(dict1.values())

dict_values(['Nitin', 9503596355, 'jath', 'data', 40000, 'pune'])

In [137]:
print(dict1.items())
print(dict1)

dict_items([('name', 'Nitin'), ('mobile', 9503596355), ('address', 'jath'), ('job', 'data'), ('salary', 40000), ('c_address', 'pune')])
{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'job': 'data', 'salary': 40000, 'c_address': 'pune'}

In [138]:
print('name' in dict1)

True

In [139]:
#change value
print(dict1)
dict1['height'] = 170
print(dict1)

{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'job': 'data', 'salary': 40000, 'c_address': 'pune'}
{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'job': 'data', 'salary': 40000, 'c_address': 'pune', 'height': 170}

In [140]:
print(dict1)
dict1.update({'friend' :'rahul'})
print(dict1)

{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'job': 'data', 'salary': 40000, 'c_address': 'pune', 'height': 170}
{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'job': 'data', 'salary': 40000, 'c_address': 'pune', 'height': 170, 'friend': 'rahul'}

In [141]:
print(type(dict1))

<class 'dict'>

In [142]:
#remove item
print(dict1)
dict1.pop('c_address')

{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'job': 'data', 'salary': 40000, 'c_address': 'pune', 'height': 170, 'friend': 'rahul'}

'pune'

In [143]:
print(dict1)
dict1.popitem()

{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'job': 'data', 'salary': 40000, 'height': 170, 'friend': 'rahul'}

('friend', 'rahul')

In [144]:
#del can remove items as well as removes the dictionary
print(dict1)
del dict1['job']
print(dict1)
#del dict1

{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'job': 'data', 'salary': 40000, 'height': 170}
{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'salary': 40000, 'height': 170}

In [145]:
#clear method and del keyword are used to romove and the dict

In [146]:
#copy dictionary
dict_1 = dict1 #this is reference to your dict not copy of dict1
print(dict1)
print(dict_1)

dict_1['mobile'] = 9503596355
#added to dict_1 , same reflected in dict1
print(dict1)

{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'salary': 40000, 'height': 170}
{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'salary': 40000, 'height': 170}
{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'salary': 40000, 'height': 170}

In [147]:
#copy() method
print(dict1)
dict2 = dict1.copy()
dict2['random'] = 'val'
print(dict2) #random added
print(dict1) #not reflected in dict1

{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'salary': 40000, 'height': 170}
{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'salary': 40000, 'height': 170, 'random': 'val'}
{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'salary': 40000, 'height': 170}

In [148]:
#dict(for copy

dict3 =dict(dict1)
print(dict3)

{'name': 'Nitin', 'mobile': 9503596355, 'address': 'jath', 'salary': 40000, 'height': 170}

In [149]:

grandson = {
    "g_key": "Grand_son_name"

}


son = {
    "s_key": grandson,
    "s_name": "Son_name",

}


parent = {
    'p_key': son,
    'p_name': "Parent_name",
        }



family = {
    "f_Key": parent,
}
print(family)

{'f_Key': {'p_key': {'s_key': {'g_key': 'Grand_son_name'}, 's_name': 'Son_name'}, 'p_name': 'Parent_name'}}

In [150]:
family

{'f_Key': {'p_key': {'s_key': {'g_key': 'Grand_son_name'},
   's_name': 'Son_name'},
  'p_name': 'Parent_name'}}

# Operators

python operators 
1.Arithmetic operaters
2.Assignment operators
3.Comparison operaters
4.Logical operators
5.Identity operaters
6.Membership operaters
7.Bitwise operaters

#Arithmetic operators
1.+Addition x+y
2.-Substraction x-y
3.*Multiplication x*y
4./Division x/y
5.%Modulus x%y
6.**Expontiation x**y
7.//Floor division x//y

In [151]:
#Addition
print("***Addition***")
x = 10.5
y = 5
res = x+y
print("Addition is :\t", res)

***Addition***
Addition is :	 15.5

In [152]:
#Substrction
print("***Substraction***")
x = 10.5
y = 5
res = x-y
print("Substraction is :\t",res)

***Substraction***
Substraction is :	 5.5

In [153]:
#Multiplication
print("***Multiplication***")
x = 10.5
y = 5
res = x*y
print("Multiplication is :\t",res)

***Multiplication***
Multiplication is :	 52.5

In [154]:
#Division
print("***Division***")
x = 10
y = 5
res = x/y
print("division is:\t",res)

***Division***
division is:	 2.0

In [155]:
#modulus
print("***modulus***")
x = 10
y = 5
res = 10%5
print("Modulus is :\t",res)

***modulus***
Modulus is :	 0

In [156]:
#Expontiation
print("***Expontiation***")
x = 10
y = 5
res =10**5
print("Expontiation is :\t",res)

***Expontiation***
Expontiation is :	 100000

In [157]:
#Floor division
print("***Floor division***")
x = 10
y = 5
res = 10//5
print("expontiation is  :\t",res)

***Floor division***
expontiation is  :	 2

#Assignment operators
1.=    x=5     5 =x
2.+=   x+=3    x = x+3
3.-=   x-=2    x =x-2
4.*=   x*=4    x = x*4
5./=   x/=5    x =x/5
6.%=   x%=3    x = x%3
7.//=  x//=4   x = x//4
8.**=  x**=5   x = x**5
9.&=   x&=3    X = x&3
10.|=  x|=2    x = x|2
11.^=  x^=1    x = x^1
12.>>= x>>=2   x = x>>2
13.<<= x<<=3   x = x<<3

In [158]:
#=
x= 13
print("the value of x is:",x)

the value of x is: 13

In [159]:
#+=

print("prior x is:",x)
x+=10
print("post x is :",x)

prior x is: 13
post x is : 23

In [160]:
#-=
print("prior x is:",x)

x-=10
print("post x is:",x)

prior x is: 23
post x is: 13

In [161]:
#*=
print("prior x is:",x)
x*=2
print("post x is:",x)

prior x is: 13
post x is: 26

In [162]:
#/=
print("prior x is:",x)
x/=3
print("post x is:",x)

prior x is: 26
post x is: 8.666666666666666

In [163]:
#%=
print("prior x is:",x)
x%=3
print("post x is:",x)

prior x is: 8.666666666666666
post x is: 2.666666666666666

In [164]:
#**
x=4
print("prior x is:",x)
x =x**2
print("post x is:",x)

prior x is: 4
post x is: 16

In [165]:
#//
print("prior x is:",x)
x=x//3
print("post x is:",x)

prior x is: 16
post x is: 5

In [166]:
#&
x=2       #   0 1 0
x = x&5    #  1 0 1
print(x)   #  0 0 0

0

In [167]:
#|
x =17    #returns if  any one is  x or y true
#y =10
x= x | 17
print(x)

17

In [168]:
#^
x =11    #returns if  only one is  x or y true
y =10
z= 11^10
print(z)

1

In [169]:
#>>
x =2
#y = 3
x =x>>4
print(x)
x =1
y =3
z =x>>y
print(z)

0
0

In [170]:
#<<
x=2
x =x<<3
print(x)

16

3.comparision operators

In [171]:
a = 10
b = 20


print(a == b)

print(a != b)

print(a < b)

print(a > b)

print(a <= b)

print(a >= b)

False
True
True
False
True
False

4. Logical operators

In [172]:
#distinction -above 75%,  1st -above 65% to less than equal to 75%

print("and operator:\n\n")


score =67
print("distinction:")
print(score >75)

print("First class:")
print(score >65 and score <=75)

print("second class:")
print(score > 55 and score<=65)


print("or operator:")
var1 = 10
var2 = 20
print(var1>20 or var2 <10)

and operator:


distinction:
False
First class:
True
second class:
False
or operator:
False

5.Identity oprators
1) is 
2)is not

In [173]:
a = 10 
b = 20

print("a id is:",id(a))
print("b id is:",id(b))
print(a is b)


a = 1.2
b =1.2
print("a id is:",id(a))
print("b id is:",id(b))
print(a is not b)

a id is: 10914784
b id is: 10915104
False
a id is: 140375107288352
b id is: 140374971158936
True

# 6.Membership operators
1)in
2)not in

In [174]:
rollno = [1,2,3,4,5,6]

print(1 in rollno)

print(7 not in rollno)

print(8 in rollno)

print(2 not in rollno)

True
True
False
False

# 7.Bitwise operator

In [175]:
#"and"


x = 2   # 0 1 0
y =3    # 0 1 1
z = x & y
print("Bitwise and:")
print(z)

#"or"

x = 4    # 1 0 0
y = 5    # 1 0 1
z = x | y
print("Bitwise or:")
print(z)

#"<<"
x = 5
z = x << 1
print("Left shift:\n")
print(z)


#">>"
x = 5
z = x >> 1
print("Right shift:\n")
print(z)

print("\n",oct(x))
print("\n",hex(x))

Bitwise and:
2
Bitwise or:
5
Left shift:

10
Right shift:

2

 0o5

 0x5

# Conditional Statements and Loops

In [176]:
# a > b
x = 10
y = 20

#Find largest number

print(x>y)

if x>y:
    print("largest element is :",x)
else:
    print("largest element is :",y)

False
largest element is : 20

In [177]:
# a>b, a==b, a<b

x = 10
y = 20

if x > y:
    print("the larger element is x:")
elif x==y:
    print("both x and y elements are equal:")
else:
    print("the lareger element is y:")

the lareger element is y:

In [178]:
# short hand if a>b : print("a is greater than b")

x = 20
y = 10

if x>y: print("x is greater than y")

x is greater than y

In [179]:
# short hand if else print("A")if a > b else print("B")

x = 20 
y = 10

print("the greater element is :",x) if x>y else print("the greater element is :",y)

the greater element is : 20

In [180]:
# write more than one condition using and and or
#1)and
a =float(input('Enter the marks'))
    
a<=100

if (a>=40) and (a<60):
    print("Second Class")
elif (a>=60) and (a<75):
    print("First class")
elif (a>=75) and (a<=100):
    print('distinction')

else:
    pass

Enter the marks

ValueError: could not convert string to float:

In [ ]:
# OR
var =str(input('Enter the alphabet:'))

if (var=='W' or var=='w'):
    print("no")
elif (var=='D' or var=='d'):
    print("yes")
else :
    print("invalid input")

In [ ]:
# nested if else...

x = 300

if x>100:
    if x>200:
        print("the number is greater than 100 and 200")
    elif x==200:
        print("the number is equal to 200")
    else:
        print("the number is greater than 100 and less than 200")
else:
    print("the number is less than 100")

In [181]:
#pass statment
x= 10
y= 12

if x>y:
    pass

# While Loop

In [182]:
#print series of numbers
x = 1 
while x<=100:
    print(x)
    x = x+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [183]:
#break statement

x = 0
while x<100:
    print(x)
    if x== 50:
        break
    x = x+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [184]:
#Continue Statement
x = 0
while x <100:
    
    if x==50 or x==99:
      
        x+=1
        continue
    print(x)    
    x+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

In [185]:
#else below while
x = 0
while x <100:
    
    if x==50:
      
        x+=1
        continue
    print(x)    
    x+=1
else:
    print("There is no more statement to execute")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
There is no more statement to execute

In [186]:
#while on list and tuple
list1 = ["red","blue","orange","green","yellow","black"]
print(list1)

print("while on List:-")

x = 0
while x<len(list1):
    print(list1[x])
    x+=1

['red', 'blue', 'orange', 'green', 'yellow', 'black']
while on List:-
red
blue
orange
green
yellow
black

In [187]:
#tuple

tup = ("red","blue","orange","green","yellow","black")
print("tup")
print ("while on tup:-")

x = 0
while x<len(tup):
    print(tup[x])
    x+=1

tup
while on tup:-
red
blue
orange
green
yellow
black

# For Loop

For iterators over list, tuple, dictionary and string

In [188]:
#list

list1 = ["red","blue","orange","green","yellow","black"]
print(list1)

print("For on List:-")

for x in list1:
    print(x)

['red', 'blue', 'orange', 'green', 'yellow', 'black']
For on List:-
red
blue
orange
green
yellow
black

In [189]:
#tuple
tup = ("red","blue","orange","green","yellow","black")
print(tup)

print("For on tuple:-")

for x in tup:
    print(x)

('red', 'blue', 'orange', 'green', 'yellow', 'black')
For on tuple:-
red
blue
orange
green
yellow
black

In [190]:
# string
str1 = "this is python"
print(str1)

print('For on string:-')

for x in str1:
    print(x)

this is python
For on string:-
t
h
i
s

i
s

p
y
t
h
o
n

In [191]:
#Dictionary
dict1 = {
    'name' :'Nitin',
    'mobile'  : 9359682576,
    'city'  :'pune',
    'job'  :'data science',
    'salary':  100000  
}

print(dict1)

print("For on dictionary:-")
for x in dict1:
    print(x)
    
print("for on dict printing keys:-")    
for x in dict1.keys():
    print(x)
     
    
print("for on dict printing values:-")    
for x in dict1.values():
    print(x)


print("for on dict printing items:-")    
for x,y in dict1.items():
    print("(",x,"",y,")")

{'name': 'Nitin', 'mobile': 9359682576, 'city': 'pune', 'job': 'data science', 'salary': 100000}
For on dictionary:-
name
mobile
city
job
salary
for on dict printing keys:-
name
mobile
city
job
salary
for on dict printing values:-
Nitin
9359682576
pune
data science
100000
for on dict printing items:-
( name  Nitin )
( mobile  9359682576 )
( city  pune )
( job  data science )
( salary  100000 )

In [192]:
#set

set1 = {"red","blue","orange","green","yellow","black"}
print(set1)

print("For on set:-")

for x in set1:
    print(x)

{'green', 'black', 'orange', 'blue', 'red', 'yellow'}
For on set:-
green
black
orange
blue
red
yellow

#  Range

In [193]:
# for i in range (10)

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [194]:
#for i in range(10,20)

for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [195]:
#for i in range (10,20,2)

for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [196]:
#else in for
for i in range(10,20,2):
    
    print(i)
else:
    print("There is nothing to print now")

10
12
14
16
18
There is nothing to print now

In [197]:
#Take two list or tuples and use nested for loop

list1 = ['red','blue','yellow','orange','green']
list2 = [1,2,3,4,5]

for i in list1:
    for x in list2:
        print(x)
    print(i)

1
2
3
4
5
red
1
2
3
4
5
blue
1
2
3
4
5
yellow
1
2
3
4
5
orange
1
2
3
4
5
green

In [198]:
#printing and removing every third element from list

list1 = [10,20,30,40,50,60,70,80,90]

print("list is:",list1)
index = 0
pos = 3-1
l = len(list1)
while l>0:
    index = (pos + index)% 1
    print(list1.pop(index))
    l = l-1

list is: [10, 20, 30, 40, 50, 60, 70, 80, 90]
10
20
30
40
50
60
70
80
90

# Function

In [199]:
print("Here this normal  execution  block")

def Myfun():
    print("Iam inside the function ..")
    
print("Calling my function")
Myfun()
print("Function execution is over")

Here this normal  execution  block
Calling my function
Iam inside the function ..
Function execution is over

In [200]:
# Arguments

def Myname(val):
    print(val)
    
val = 'Nitin Khot'
Myname(val)

Nitin Khot

In [201]:
# return values

def Add(x,y):
    ad = x + y
    return ad

print("Do addition using function:")
a =100
b=200

result = Add(a,b)

print("Addition is :",result)

Do addition using function:
Addition is : 300

In [202]:
def multiply(x,y):
    m = x*y
    return m
print("Do multiplication:")

x=12
y=3

res = multiply(x,y)

print("the multiplixcation is :",res)

Do multiplication:
the multiplixcation is : 36

In [203]:
# Unknown Parameters

def my_function(*letter):
    print("The letter at 2nd loc is :",letter)
    
my_function("a","b","c","d")

The letter at 2nd loc is : ('a', 'b', 'c', 'd')

In [204]:
# argument as key value pair where order does not matter


def my_function(child2,child1,child3):
    print("The youngest child is :",child1)
    
my_function(child2  = "sam",child1= "mac", child3 = "kat")

The youngest child is : mac

In [205]:
# if dont know number of para then add  ** before identifire

def my_function(**name):
    print("His first name is:",name['fname'])
    
my_function(fname = "Nitin", lname = "khot")

His first name is: Nitin

In [206]:
def AltEmail(email = "default@mai.com"):
    print('The alternate email is :',email)
    
    
print("The alternate email of student is: ")

AltEmail("xyz@gmail.com")
AltEmail("abc@gmail.com")
AltEmail()

The alternate email of student is:
The alternate email is : xyz@gmail.com
The alternate email is : abc@gmail.com
The alternate email is : default@mai.com

# Lambda Function

In [207]:
# A lamda function which takes an arguments and returns a square of that number

square = lambda a: a**2

print("square of 4 is :")

square(4)
print(square(4))
print("square of 10 is:")
square(10)

square of 4 is :
16
square of 10 is:

100

In [208]:
# Any number of argument

add = lambda a,b,c,d : a+b+c+d

print("The sum of four numbers is:")

add(1,2,3,4)

The sum of four numbers is:

10

In [209]:
# why lambda is powerfull ?
# Use it lambda inside another function
# Lets understand that it is added with some other unkown  number

def my_function(n):
    print("value of N is:",n)
    return (lambda a: a*n)

otherfun = my_function(5)
print(otherfun(20))

value of N is: 5
100

In [210]:
otherfun_1 = my_function(10)
print(otherfun_1(20))

value of N is: 10
200

# Python Class

In [211]:
# create a class student

class stud:
    name = "Nitin"

In [212]:
# create object of class student
s1 = stud()

s = stud()

print(s1.name)

print(s.name)

Nitin
Nitin

In [213]:
# How the real class works

#__init__() function

# 1. All classes will have a method called __init__()

#2. This function gets called when an object being created.

#3. This function is to assign the values to properties of the class.

#4. It means that, we can do all operations which are neccessary to do at the time of the object creation.

#5. __init__() method get called automatically when an object is initiated .



class student :
    def __init__(self,name,clas,rollno):
        self.name = name
        self.clas = clas
        self.rollno = rollno
        
r = student("Nitin", "BE-Comp",27) #object creation
v =  student("Rahul", "BE-Comp",17)
n =  student("datta", "BE-Comp",37)


print(r.name,"",r.clas,"",r.rollno)

print(v.name,"",v.clas,"",v.rollno)

print(n.name,"",n.clas,"",n.rollno)

Nitin  BE-Comp  27
Rahul  BE-Comp  17
datta  BE-Comp  37

In [214]:
# methods in class 
# self:
# self is default parameter to be used to access 
#the values in current object 
# we can give any name instead of the self but it has to be the 1st parameter



class Student:
    def __init__(self,name,clas,rollno):
        self.name = name
        self.clas = clas
        self.rollno = rollno
    
    def Display(self):
        print("name of student is:",self.name)
        print("clas of student is:",self.clas)
        print("rollno of student is:",self.rollno)
        
        
r = Student("Nitin", "BE-Comp",27) 
v =  Student("Rahul", "BE-Comp",17) 

v.Display()
print("Nitin Detail:")

r.Display()

name of student is: Rahul
clas of student is: BE-Comp
rollno of student is: 17
Nitin Detail:
name of student is: Nitin
clas of student is: BE-Comp
rollno of student is: 27

In [215]:
# Accessing values and modifying it

class Student:
    def __init__(self,name,clas,rollno):
        self.name = name
        self.clas = clas
        self.rollno = rollno
        
    def Display(self):
        print("name of student is:",self.name)
        print("clas of student is:",self.clas)
        print("rollno of students is:",self.rollno)
        
    def ChangeName(self,ch_name):
        self.name = ch_name
        
        print("\n")
        print("Calling display from changename:")
        self.Display()
        
r =  Student("Nitin", "BE-Comp",27)

r.Display()

na= "datta"

r.ChangeName(na)

name of student is: Nitin
clas of student is: BE-Comp
rollno of students is: 27


Calling display from changename:
name of student is: datta
clas of student is: BE-Comp
rollno of students is: 27

In [216]:

class Student:
    def __init__(self,name,clas,rollno):
        self.clas = clas
        self.name = name 
        self.rollno = rollno
        
    def Display(self):
        print("name of student is:",self.name)
        print("clas of student is:",self.clas)
        print("rollno of students is:",self.rollno)
        
    def ChangeRollno(self,ch_rollno):
       
        self.rollno = ch_rollno
        print("\n")
        print("Calling display from changeRollno:")
        self.Display()
        
r =  Student("Nitin", "BE-Comp",27)

r.Display()


sa=12

r.ChangeRollno(sa)

name of student is: Nitin
clas of student is: BE-Comp
rollno of students is: 27


Calling display from changeRollno:
name of student is: Nitin
clas of student is: BE-Comp
rollno of students is: 12

# Inheritance

In [217]:
# Base class 

class person:
    def __init__ (self,fname,lname):
        self.fname = fname
        self.lname = lname
    
    def Display(self):
        print("First Name :",self.fname)
        print("Last name :",self.lname)
        #self.Display()
        
        
a = person("Nitin","Khot")
a.Display()   
print(a.fname)
print(a.lname)

First Name : Nitin
Last name : Khot
Nitin
Khot

In [218]:
# Child Class

class student(person):
    pass

s = student("Ajay","Yadav")
s.Display()

First Name : Ajay
Last name : Yadav

In [219]:
# Add init method , How does it overrides the init method of base class 
# Using class name and super() method
# Overriding base class init method

class student(person):
    def __init__(self, fname,lname,mob):
        self.fname = fname
        self.lname = lname
        self.mob = mob
    
s1 = student("Nitin","Khot",93596)    

s1.Display()

First Name : Nitin
Last name : Khot

In [220]:
# Add other properties to child class

class student(person):
    def __init__(self,fname,lname,clas):
        person.__init__(self,fname,lname)
        self.clas = clas
       # self.fname = fname
       # self.lname = lname
     
    def Display_stud(self):
        
        print("First Name :",self.fname)
        print("Last name :",self.lname)
        print("clas name :",self.clas)
        #self.Display()
        
s2 = student("Nitin","Khot","BE_Comp")

s2.Display_stud()

First Name : Nitin
Last name : Khot
clas name : BE_Comp

# Iterator in Python

In [221]:
# Example of tuple

tup = (1,2,3,4,5,6,7,8)

print(type(tup))

itr = iter(tup) #create an iterator object

print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))

<class 'tuple'>
1
2
3
4

In [222]:
# Exampleof String

str1 = " I am Python"

print(type(str1))

itr = iter(str1)

print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))

print(" Iterations Using for loop :")

for x in str1 :
    print(x)

<class 'str'>

I

a
m

P
y
t
 Iterations Using for loop :

I

a
m

P
y
t
h
o
n

In [223]:
# loop on iterables like list
# for loop internally creates an iterator object and then it traverse using that object

list1 = [1,2,3,4,5,6,7,8,9]

for x in list1:
    print(x)

1
2
3
4
5
6
7
8
9

In [224]:
# how does for loop works on iterables
# use for loop for demonstration 
# Print a series of numbers from 1

class counter :
    def __iter__(self):
        self.val = 1
        return self
    
    def __next__(self):
        x = self.val
        self.val +=1
      
        if x ==101:
            raise StopIteration
            
        return x
    
counter = counter()
itr = iter(counter)

for x in itr:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# Scope of Variables

Two types of scope 
1. Local
2. Global

In [225]:
# nested functions and scope

z = 200 #Global scope
def Myfun():
    
    
    def Display_z():
        print(z)
        
    z = 10 # local scope

    print(z)
    Display_z()
    Display(z)
    
    
def Display(x):
    print("printing outside scope",x)
    
print(z)
Myfun()

200
10
10
printing outside scope 10

In [226]:
# function and scope
# use of global keyword to declare global scope


z = 200 #Global scope
def Myfun():
    
    
    def Display_z():
        print(z)
        
    z = 10 # local scope

    print(z)
    Display_z()
    Display(z)
    
    
def Display(x):
    global pi
    pi = 3.14
    print("printing outside scope",x)
    
    
print(z)
Myfun()
print(pi)

200
10
10
printing outside scope 10
3.14

# Modules

In [227]:
# importing modules with alias name
# like import mymodule as mm
#you can also use other built module like 


import platform
 
op_sys = platform.system() 

print(op_sys)

Linux

# Datetime

In [228]:
import datetime as dt
x = dt.datetime.now()
print(x)

2022-01-19 18:25:02.856923

In [229]:
import datetime 
x = datetime.datetime.now()
print(x)

2022-01-19 18:25:03.081741

In [230]:
print(datetime.MAXYEAR)

9999

In [231]:
print(datetime.MINYEAR)

1

In [232]:
x = dt.datetime.now()

print(x.year)
print(x.month)
print(x.day)
print(x.strftime('%m'))

2022
1
19
01

In [233]:
# datetime() class takes 3 mandatory parameters and hour ,minute, seconds ,
# microseconds and tzone as optional parameters .
# all takes default value of 0 and tzone takes none values as default

dt_ = dt.datetime(2021,12,14)

print(dt_)

2021-12-14 00:00:00

# Python Math Function

In [234]:
x = min (123,45,234)
print(x)

45

In [235]:
n = min(123,45,234)
print(n)

45

In [236]:
m = max(123,45,234)
print(m)

234

In [237]:
# Returns absulute positive value 

x = abs(-123)
print(x)

123

In [238]:
#power function

x = pow(20,3)
print(x)

8000

# Math Module

In [239]:
import math as m



val = m.sqrt(625)
print("square root :",val)

val = m.floor(200.45)
print("floor:",val)
     
val = m.ceil(123.34)
print("ceil:",val)


y = m.floor(200.12)
print(y)

z = m.ceil(12.5)
print(z)

eulers_no = m.e
print("Eulers Number:",eulers_no)

p = m.pi

print("pi : ",p)

val = m.nan
print(type(val))
print(m.nan)

square root : 25.0
floor: 200
ceil: 124
200
13
Eulers Number: 2.718281828459045
pi :  3.141592653589793
<class 'float'>
nan

# JSON

In [240]:
import json

In [241]:
# conversion of jason to python

#json object

student  = '{"Name":"Nitin","city":"Pune","mob":9359682576,"job":"data scientist"}'

print(student)
print(type(student))

stud = json.loads(student)

print(stud)
print(type(stud))

{"Name":"Nitin","city":"Pune","mob":9359682576,"job":"data scientist"}
<class 'str'>
{'Name': 'Nitin', 'city': 'Pune', 'mob': 9359682576, 'job': 'data scientist'}
<class 'dict'>

In [242]:
employee = {
    "Name" : "Nitin",
    "Email_id" :"abc@gmail.com",
    "job" : "Data Scintist",
    "emp_id" : 12,
    "salary" : 100000
    
}

print(type(employee))
print(employee)

# Access the Dictionary

print(employee["emp_id"])

emp_json = json.dumps(employee)

print(emp_json[0])
print(emp_json)
print(type(emp_json))

<class 'dict'>
{'Name': 'Nitin', 'Email_id': 'abc@gmail.com', 'job': 'Data Scintist', 'emp_id': 12, 'salary': 100000}
12
{
{"Name": "Nitin", "Email_id": "abc@gmail.com", "job": "Data Scintist", "emp_id": 12, "salary": 100000}
<class 'str'>

In [243]:
# apply on tuple

tup = (1,2,3,4,5,6)

print(type(tup))
print(tup)


tup_json = json.dumps(tup)

print(type(tup_json))
print(tup_json)

<class 'tuple'>
(1, 2, 3, 4, 5, 6)
<class 'str'>
[1, 2, 3, 4, 5, 6]

In [244]:
tup_json

'[1, 2, 3, 4, 5, 6]'

# Result Formtting

In [245]:
import json

x = {
    "Name":"Nitin",
    "age":21,
    "vegeterian":True,
    "non_veg":False,
    "food":("paneer","kabab"),
    "owns_chopper":"none"
    
}
print(json.dumps(x,indent=4))

{
    "Name": "Nitin",
    "age": 21,
    "vegeterian": true,
    "non_veg": false,
    "food": [
        "paneer",
        "kabab"
    ],
    "owns_chopper": "none"
}

In [246]:
import json

x = {
    "Name":"Nitin",
    "age":21,
    "vegeterian":True,
    "non_veg":False,
    "food":("paneer","kabab"),
    "owns_chopper":"none"
    
}
print(json.dumps(x,indent=4,separators=("-","=")))

{
    "Name"="Nitin"-
    "age"=21-
    "vegeterian"=true-
    "non_veg"=false-
    "food"=[
        "paneer"-
        "kabab"
    ]-
    "owns_chopper"="none"
}

In [247]:
import json

x = {
    "Name":"Nitin",
    "age":21,
    "vegeterian":True,
    "non_veg":False,
    "food":("paneer","kabab"),
    "owns_chopper":"none"
    
}
print(json.dumps(x,indent=4, separators=(",","="),sort_keys= True))

{
    "Name"="Nitin",
    "age"=21,
    "food"=[
        "paneer",
        "kabab"
    ],
    "non_veg"=false,
    "owns_chopper"="none",
    "vegeterian"=true
}

# RegEx or Regular Expression

In [248]:
import re

In [249]:
txt = "The python programming was developed in 1991 by Guido Van Rossom"

x = re.search("^The.*Rossom$",txt)

#RegEx : ^The.*Rossom$
# ^  -start with 'The'
#. - Any character
#* - Any number of occurance
# $ - Ends with 'Rossom'
# x- match object

#Match  object

print(x.span())
#it returns the tuple(start,end)of the match object

print(x.start())
#it teturns the start location of the match object


print(x.end())
#it returns the end location of match object


print(x.string)
#input string to match object

print(x.group())

#search pattern which matched in string 



if x:
    print("Yes string starts with 'The' and Ends with 'Rossom'")
else:
    print("Doesn't have match")

(0, 64)
0
64
The python programming was developed in 1991 by Guido Van Rossom
The python programming was developed in 1991 by Guido Van Rossom
Yes string starts with 'The' and Ends with 'Rossom'

In [250]:
# findall function returns the list of all matches

txt = "The python programming was developed in 1991 by Guido Van Rossom"

x = re.findall("e",txt)

print(x)
print(len(x))

['e', 'e', 'e', 'e']
4

In [251]:
# Program to find the list of words and its occurence in a string

def count_char():
    count = []
    import re
    l = ['The','e','o']
    txt = "The python programming was developed in 1991 by Guido Van Rossom"
    for i in l:
        cnt = re.findall(i,txt)
        
        count.append(len(cnt))
    return count
count_char()

[1, 4, 6]

In [252]:
#search returns the first occurance of the match

txt = "The python programming"
x =re.search("o",txt)

#x is a match object
print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 8

In [253]:
txt = "The rain in spain"
x = re.search("\s",txt)
print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [254]:
# split function split the string using given pattern

txt = "The python programming was developed in 1991 by Guido Van Rossom"
x = re.split("\s",txt)


print(x)

['The', 'python', 'programming', 'was', 'developed', 'in', '1991', 'by', 'Guido', 'Van', 'Rossom']

In [255]:
# split the string at its first occurance

txt = "The python programming was developed in 1991 by Guido Van Rossom"
x = re.split("\s",txt,3)
print(x)

['The', 'python', 'programming', 'was developed in 1991 by Guido Van Rossom']

In [256]:
# sub function replaces the matches with the text of your choice

txt = "The python programming was developed in 1991 by Guido Van Rossom"
x = re.sub("\s","_",txt)


print(x)

The_python_programming_was_developed_in_1991_by_Guido_Van_Rossom

In [257]:
txt = "The python programming was developed in 1991 by Guido Van Rossom"
x = re.sub("\s","_",txt,4)


print(x)

The_python_programming_was_developed in 1991 by Guido Van Rossom

In [258]:
txt = "The python programming was developed in 1991 by Guido Van Rossom"

x = re.search("\was",txt)
print(x.span())
print(x.start())
print(x.end())
print(x.string)
print(x.group())

(23, 26)
23
26
The python programming was developed in 1991 by Guido Van Rossom
was

# Exception Handling in Python

In [259]:
# while True print ("Hello")
# Errors detected during execution are called exceptions

l = [1,2,3,4]
for x in range(0,5):
    print(l[x])

1
2
3
4

IndexError: list index out of range

In [260]:
while True:
    try:
        x = int(input("Enter the number:"))
        break
    except ValueError:
            print("oops! that is invalid number.  Try again...")

Enter the number:nitin
oops! that is invalid number.  Try again...
Enter the number:4

In [261]:
#valueError

try:
    print(value)
    
except IndexError:
    print("variable not declared ")
    
except:
    print("some error occured")

some error occured

In [262]:
#for i in range (0,6)

try:
    l = [1,2,3,4,5]
    for i in range (0,6):
        print(l[i])
        
except:
    print("something went wrong")
    
else:
    print("There was no error in try block")

1
2
3
4
5
something went wrong

In [263]:
z = 10
try:
    print(z)
except:
    print("something went wrong")
finally:
    print("This is finally block : to be executed mandatory")

10
This is finally block : to be executed mandatory

In [264]:
#Raise an error and stop the program if is lower than 0:

x  = -1

if x<0:
    raise Exception("Sorry, no members below zero")

Exception: Sorry, no members below zero

In [265]:
x = "hello"

if not type(x)is int:
    raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

# String Formatting

In [266]:
p = 100

txt = "The value is {}"

print(txt.format(p))

print("The values of p is {}".format(p))

The value is 100
The values of p is 100

In [267]:
p = 100
txt = "The value is {:.2f}"

print(txt.format(p))

The value is 100.00

In [268]:
quantity = 4
itemno = 300
price =40

print("I want {} pieces of itemno {} for {:2f} rupees".format(quantity,itemno,price))

I want 4 pieces of itemno 300 for 40.000000 rupees

In [269]:
quantity = 4
itemno = 300
price =40

print("I want {0} pieces of itemno {1} for {2:2f} rupees".format(quantity,itemno,price))

I want 4 pieces of itemno 300 for 40.000000 rupees

In [270]:
age = 21
name = "Nitin"
txt = "His name is {1}.{1} is {0} years old. "

print(txt.format(age,name))

His name is Nitin.Nitin is 21 years old.

In [271]:
brand = "ford"
mod = "mustang"

myorder = "I have a {carname} , it is a {model} "
print(myorder.format(model = mod,carname = brand))

I have a ford , it is a mustang

# Python File Handling

# Open File

The open() function:The open() function takes two parameters

1. filename
2.mode of opening a file.

There are four different modes to open to file:


        "r" = Read - Default value. opens in reading mode,gives error if file mot exists
        
        "a" = Append - Opens in appending mode, Creates new file if it does not exists
        
        "w" = Write - Opens in writing mode,Creates new file if it does not exists
        
        "x" = Create - Creates the specified file, Gives an error if the file is already exists

# Reading a File

Functions we use to handle files:
        
        read() - To read files - read all contents
        readline()- To read contents line by line 
        close() - To close the file 
        f= f is file handle

In [272]:
ls

'11.python end to end in detail v11 30- 12-2021.ipynb'
'1. Numerical Python End_To_End_In_Detail  10-01-2022.ipynb'
'cars1(2).csv'
'Matplotlib 12-01-2022.ipynb'
 notebook/
'Pandas End_To_End_In_Detail v1 10-01-2022.ipynb'
 sample1.txt
 sample4.txt
 sample.txt
 test.csv
 titanic/
 Untitled1.ipynb
 winequality-red.csv

In [273]:
#./files/sample.txt

f = open("sample.txt",'r')
print(f.read())

nitin suresh khot
nitin suresh khot
nitin suresh khot
nitin suresh khot
nitin suresh khot
This is new string addedThis is new string added

In [274]:
f = open("sample.txt","r")
print(f.read(5))

nitin

In [275]:
# same as obove
f = open("sample.txt","r")
print(f.read())

nitin suresh khot
nitin suresh khot
nitin suresh khot
nitin suresh khot
nitin suresh khot
This is new string addedThis is new string added

In [276]:
# reading files in parts
# Reads first 10 chars
f = open("sample.txt","r")
print(f.read(10))

nitin sure

In [277]:
# reads line by line

f = open("sample.txt","r")

print(f.readline())
print(f.readline())

nitin suresh khot

nitin suresh khot

In [278]:
# read using for loop

f = open("sample.txt","r")


for x in f:
    print(x)
    
f.close()

nitin suresh khot

nitin suresh khot

nitin suresh khot

nitin suresh khot

nitin suresh khot

This is new string addedThis is new string added

# Writing to existing file

f.write()- writes contents to file
1. "a"
2. "w"
3. "x"

In [279]:
# Append mode

f_w = open("sample.txt","a")
txt = "This is new string added"

f_w.write(txt)
f_w.close()


f_r = open("sample.txt")

print(f_r.read())

nitin suresh khot
nitin suresh khot
nitin suresh khot
nitin suresh khot
nitin suresh khot
This is new string addedThis is new string addedThis is new string added

In [6]:
# write using "w"
f_w = open("sample1.txt","w")

f_w.write("This is my new file\n It is created using write mode\nThis is last line")

f_w.close()


f_r = open("sample1.txt")

print(f_r.read())

This is my new file
 It is created using write mode
This is last line

In [8]:
# Create a new file using "x" mode

f_x = open("sample4.txt",'x')
f_w.write("This file is created in x mode\n So we have now many files created")
f_x.close()

f_r = open("sample4.txt")
print(f_r.read())

FileExistsError: [Errno 17] File exists: 'sample4.txt'

# Creating New File
Removing file / Directory(folder)
import os - Module

use:

os.remove() function to delete file
os.rmdir() function to remove directory / folder

In [9]:
import os 
f = open("sample3.txt")
print(f.read())
os.remove("sample3.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'sample3.txt'

In [10]:
os.rmdir("sample")

FileNotFoundError: [Errno 2] No such file or directory: 'sample'