
# Typecasting

There are three numeric types in python
1] int
2] float
3] complex

In [1]:
#print("int, float to string:")


print("int to string:")
a=10
var=20.4
print(a)
print(type(a))
var1=str(a)
print(var1)
print(type(var1))


print("float to string:")
print(var)
print(type(var))
var2=str(var)
print(var2)
print(type(var2))

int to string:
10
<class 'int'>
10
<class 'str'>
float to string:
20.4
<class 'float'>
20.4
<class 'str'>

In [2]:
#print("int, string to float")
a=10
str1="100.5"
str2="nitin"

print("int to float:")


print(a)
print(type(a))
var1=float(a)
print(var1)
print(type(var1))

print("string to float:")

print(str1)
print(type(str1))
var2=float(str1)
print(var2)
print(type(var2))

print(str2)
print(type(str2))
var3=foat(str2)
print(var3)
print(type(var3))

int to float:
10
<class 'int'>
10.0
<class 'float'>
string to float:
100.5
<class 'str'>
100.5
<class 'float'>
nitin
<class 'str'>

NameError: name 'foat' is not defined

In [ ]:
#print("float,string to int")
var=20.5
str1="100"
str2="nitin"

print("float to int:")
print(var)
print (type(var))
var1=int(var)
print(var1)
print(type(var1))

print("string to int:")
print(str1)
print(type(str1))
var2=int(str1)
print(var2)
print(type(var2))

print(str2)
print(type(str2))
var3=int(str2)
print(var3)
print(type(var3))

complex number

In [ ]:
print("complex to string:")
comp=3+5j
print(comp)
print(type(comp))
var=str(comp)
print(var)
print(type(var))

Now we do string to complex

In [ ]:
str1="3+5j"
str2="nitin"
print(str1)
print(type(str1))
var1=complex(str1)
print(var1)
print(type(var1))

print(str2)
print(type(str2))
var2=complex(str2)
print(var2)
print(type(var2))

# Other types to complex conersion

In [ ]:
var=20
print(var)
print(type(var))
var1=complex(var)
print(var1)
print(type(var1))


var2=10.5
print(var2)
print(type(var2))
var3=complex(var2)
print(var3)
print(type(var3))



var4="20.6"
print(complex(var4))

In [ ]:
print(complex(5,2))
print(complex(20.5,4))

print(complex(True,False))

# Boolean

Bool()

In [ ]:
print(int(True))

In [ ]:
print(int(False))

In [ ]:
print(float(True))

In [ ]:
print(float(False))

In [ ]:
print(complex(True))

In [ ]:
print(complex(False))

a=0+0j
print(a)

In [ ]:
print(str(True))

In [ ]:
print(str(False))

In [ ]:
print(bool(3.2))
print(bool(0.0))

In [ ]:
print(bool(1))
print(bool(0))

In [ ]:
print(bool(""))
print(bool())
print(bool(45))
print (bool("n"))

In [ ]:
print(bool(2+3j))
print(bool(2+0j))
print(bool(0+3j))
print (bool(0+0j))

# String Slicing

#Slicing is making pieces of some separator
#[]is aslice operator

In [ ]:
str1="This tutorial is basically designed for beginers"

str1[0]

In [3]:
str1[11]

IndexError: string index out of range

In [ ]:
str1[0:]

In [ ]:
str1[:0]

In [ ]:
str1[4:15]

In [ ]:
str1

In [ ]:
str1[:25]

In [ ]:
type(str1)

In [ ]:
str1[-1]

In [ ]:
str1[-19:]

In [ ]:
str1[-13:-2]

In [ ]:
str1[-1:]

In [ ]:
str3=str1[:14]
str3*3

In [ ]:
str1[:-1]

In [4]:
str1[:-16]

''

In [5]:
str3=str1[:-20]
str3*3

''

In [6]:
str3=str1[12:]
str3*3

''

In [7]:
str4=str1[2:23]
str4*2

'0.50.5'

# Immutability

#In python once an object is created ,we are not allowed to change 
#The content,if youn want to change  the content PVM will create a# new object for it

In [8]:
var=200
var1=var
print(id(var))
print("and \n",id(var1))
print(var is var1)

10920864
and
 10920864
True

In [9]:
var= 2+3j
var1=2+3j
print(var is var1)
print(id(var))
print("and \n",id(var1))  #id is different

False
140235063097936
and
 140235063098128

assignment :Try same string and boolean types

In [10]:
#for string


var="nitin"
var1=var
print(id(var))
print("and \n",id(var1))
print(var is var1)

140235001232440
and
 140235001232440
True

In [11]:
var="khot"
var1="khot"
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
140235001232160
and
 140235001232160

In [12]:
#for boolean

var=True
var1=var
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
10302848
and
 10302848

In [13]:
var=True
var1=True
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
10302848
and
 10302848

In [14]:
var=True
var1=False
print(var is var1)
print(id(var))
print("and \n",id(var1))

False
10302848
and
 10300256

In [15]:
var=False
var1=False
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
10300256
and
 10300256

# Bytes and Bytearray Data Type

In [16]:
#bytes can hold the values  from 0 to 256
#You cant change the value of bytes once itis created


a = [10,20,30,40,50,60,70,80]
print(type(a))

b = bytes(a)  #b[2]=90
              #it will raise error
             #bytes object doe not support item assignment

print(type(b))

for i in b:
    print(i)

<class 'list'>
<class 'bytes'>
10
20
30
40
50
60
70
80

In [17]:
#Bytearray
#You can change the value of bytearray after creation also 


a=[10,20,30,40,50]
print (type(a))

b = bytearray(a)

print(type(b))
for i in b:
        print(i)
        
b[2]= 200
print("New List:")
for i in b:
    print(i)
print("This is Difference")

<class 'list'>
<class 'bytearray'>
10
20
30
40
50
New List:
10
20
200
40
50
This is Difference

# Data Types

Text type = str
Numeric types = int,float,complex
Sequence types = list, tuple,range
Mapping type = dict
Set types = set, frozenset
Boolean type = bool
Binary types = bytes bytearray,memoryview

# 1.List

In [18]:
#Example

list1 = [10,20,30,40,50]
list2 = [10.1,20.2,30.3,40.4,50.5]
list3 = ['Nitin','Rahul','Datta','Ajay']
list4 = [20,10.1,'Nitin']

print(list1)
print(list2)
print(list3)
print(list4)

[10, 20, 30, 40, 50]
[10.1, 20.2, 30.3, 40.4, 50.5]
['Nitin', 'Rahul', 'Datta', 'Ajay']
[20, 10.1, 'Nitin']

In [19]:
print(type(list1))

<class 'list'>

In [20]:
print(list1[2])
print(list2[0])
print(list3[0])
print(list1)
print(list2)
print(list3)
print(list4)

30
10.1
Nitin
[10, 20, 30, 40, 50]
[10.1, 20.2, 30.3, 40.4, 50.5]
['Nitin', 'Rahul', 'Datta', 'Ajay']
[20, 10.1, 'Nitin']

In [21]:
list1[0:4]

[10, 20, 30, 40]

In [22]:
list2[:-3]

[10.1, 20.2]

In [23]:
print("length of list1")
print(len(list1))

length of list1
5

In [24]:
print(list1)
list1.append('Nitin')
print(list1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 'Nitin']

In [25]:
print(list1)
list1.remove('Nitin')
print(list1)

[10, 20, 30, 40, 50, 'Nitin']
[10, 20, 30, 40, 50]

In [26]:
print(list1)
list1.remove(20)
print(list1)

[10, 20, 30, 40, 50]
[10, 30, 40, 50]

#assignment
1.append
2.copy 
3.count 
4.insert 
5.index 
6.pop 
7.remove 
8.reverse 
9.extend
10.sort 
11.clear

In [27]:
list1 = [10,20,30,40,50]

#append

print(list1)
list1.append(60)
print(list1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]

In [28]:
#copy

print(list1)
list1.copy 
print(list1)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [68]:
#count

print(list1)
cnt=list1.count(20)
print(cnt)

[10, 20, 30, 40, 50, 60]
1

In [69]:
#insert

print(list1)
list1.insert(3,55)
print(list1)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 55, 40, 50, 60]

In [70]:
#index

print(list1)
loc = list1.index(30)
print(loc)

[10, 20, 30, 55, 40, 50, 60]
2

In [71]:
#pop

print(list1)
list1.pop(2)
print(list1)

[10, 20, 30, 55, 40, 50, 60]
[10, 20, 55, 40, 50, 60]

In [72]:
#remove

print(list1)
list1.remove(50)
print(list1)

[10, 20, 55, 40, 50, 60]
[10, 20, 55, 40, 60]

In [73]:
#reverse

print(list1)
list1.reverse()
print(list1)

[10, 20, 55, 40, 60]
[60, 40, 55, 20, 10]

In [74]:
#sort

print(list1)
list1.sort()
print(list1)

[60, 40, 55, 20, 10]
[10, 20, 40, 55, 60]

In [77]:
#extend

print(list1)
l=[100]
list1.extend(l)
print(list1)

[10, 20, 40, 55, 60]
[10, 20, 40, 55, 60, 100]

In [78]:
#clear

print(list1)
list1.clear()
print(list1)

[10, 20, 40, 55, 60, 100]
[]

In [38]:
list2 = [10.4,50.4,30.6,20.5,40.1]   #Float

In [39]:
#append

print(list2)
list2.append(60.7)
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1]
[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]

In [40]:
#copy

print(list2)
list2.copy
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]

In [41]:
#count

print(list2)
list2.count(20.5)
print(list2.count(20.5))

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
1

In [42]:
#insert

print(list2)
list2.insert(3,34.4)
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 34.4, 20.5, 40.1, 60.7]

In [43]:
#index

print(list2)
loc=list2.index(34.4)
print(loc)

[10.4, 50.4, 30.6, 34.4, 20.5, 40.1, 60.7]
3

In [44]:
#pop


print(list2)
list2.pop(3)
print(list2)

[10.4, 50.4, 30.6, 34.4, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]

In [45]:
#remove

print(list2)
list2.remove(40.1)
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 20.5, 60.7]

In [46]:
#reverse

print(list2)
list2.reverse()
print(list2)

[10.4, 50.4, 30.6, 20.5, 60.7]
[60.7, 20.5, 30.6, 50.4, 10.4]

In [47]:
#sort

print(list2)
list2.sort()  #ascending order
print(list2)

[60.7, 20.5, 30.6, 50.4, 10.4]
[10.4, 20.5, 30.6, 50.4, 60.7]

In [48]:
print(list2)
list2.sort(reverse=True) #descnding order
print(list2)

[10.4, 20.5, 30.6, 50.4, 60.7]
[60.7, 50.4, 30.6, 20.5, 10.4]

In [49]:
#Extend


print(list2)
list2.extend(list2)
print(list2)

[60.7, 50.4, 30.6, 20.5, 10.4]
[60.7, 50.4, 30.6, 20.5, 10.4, 60.7, 50.4, 30.6, 20.5, 10.4]

In [50]:
#print(list2)
#list2.extend(7) #'int' object is not iterable
                #here list,tuple,string are the iterable
#print(list2)

In [51]:
#Clear

print(list2)
list2.clear  
print(list2)

[60.7, 50.4, 30.6, 20.5, 10.4, 60.7, 50.4, 30.6, 20.5, 10.4]
[60.7, 50.4, 30.6, 20.5, 10.4, 60.7, 50.4, 30.6, 20.5, 10.4]

In [52]:
list3 = ['Nitin', 'Rahul', 'Datta', 'Ajay']

In [53]:
#append

print(list3)
list3.append('Nitin')  
print(list3)

['Nitin', 'Rahul', 'Datta', 'Ajay']
['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']

In [54]:
#copy


print(list3)
list3.copy
print(list3)

['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']
['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']

In [55]:
#count

print(list3)
count=list3.count('Nitin')
print(count)

['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']
2

In [56]:
#insert

print(list3)
list3.insert(2,'Sagar')  
print(list3)

['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']
['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay', 'Nitin']

In [57]:
#index

print(list3)
loc=list3.index('Nitin',2) 
print(loc)

['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay', 'Nitin']
5

In [58]:
#pop

print(list3)
list3.pop(5)
print(list3)

['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay', 'Nitin']
['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay']

In [59]:
#remove

print(list3)
list3.remove('Ajay')
print(list3)

['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay']
['Nitin', 'Rahul', 'Sagar', 'Datta']

In [60]:
#reverse

print(list3)
list3.reverse()
print(list3)

['Nitin', 'Rahul', 'Sagar', 'Datta']
['Datta', 'Sagar', 'Rahul', 'Nitin']

In [61]:
#sort

print(list3)
list3.sort() #ascending 
print(list3)

['Datta', 'Sagar', 'Rahul', 'Nitin']
['Datta', 'Nitin', 'Rahul', 'Sagar']

In [62]:
#print(list3)
print(list3)
list3.sort(reverse=True)
print(list3)

['Datta', 'Nitin', 'Rahul', 'Sagar']
['Sagar', 'Rahul', 'Nitin', 'Datta']

In [63]:
#Extend

print(list3)
list3.extend("a")
print(list3)

['Sagar', 'Rahul', 'Nitin', 'Datta']
['Sagar', 'Rahul', 'Nitin', 'Datta', 'a']

In [64]:
#clear

print(list3)
list3.clear()
print(list3)

['Sagar', 'Rahul', 'Nitin', 'Datta', 'a']
[]

# Tuple

1.Tuple is ordered and unchangable
2.Immutable (you cant change the elements or cant added in tuple)
3.()are used to represent the tuple
4.Allow Duplicates
5.Tuples are read only version of your list except list is growable

In [1]:
tup = ("blue","red","green","yellow","black","white")

print(tup)

('blue', 'red', 'green', 'yellow', 'black', 'white')

In [2]:
len(tup)

6

In [3]:
tup1 = ("blue")
print(type(tup1))

tup1 = ("blue",)
print(type(tup1))

<class 'str'>
<class 'tuple'>

In [4]:
tup2 = ("potato",10,"n",45)
print(tup2)

('potato', 10, 'n', 45)

In [6]:
tup3 =tuple((10,20,30))  #tuple () is constructor
print(tup3)

(10, 20, 30)

In [7]:
#access
print(tup)
tup[1]

('blue', 'red', 'green', 'yellow', 'black', 'white')

'red'

In [8]:
print(tup)
tup[-3]

('blue', 'red', 'green', 'yellow', 'black', 'white')

'yellow'

In [9]:
#range of items
tup[1:4]

('red', 'green', 'yellow')

In [11]:
#Change tuple vlue using list
print(tup)
print(type(tup))
var=list(tup)
print(var)
print(type(var))

#change value

var[2]='orange'
print(var)

#convert back to tuple

tup= tuple(var)
print(type(tup))
print(tup)

('blue', 'red', 'orange', 'yellow', 'black', 'white')
<class 'tuple'>
['blue', 'red', 'orange', 'yellow', 'black', 'white']
<class 'list'>
['blue', 'red', 'orange', 'yellow', 'black', 'white']
<class 'tuple'>
('blue', 'red', 'orange', 'yellow', 'black', 'white')

In [12]:
#add items

print(tup)
print(type(tup))
var=list(tup)
print(var)
print(type(var))

var.insert(3,'pink')

print(var)

#convert back to tuple

tup= tuple(var)
print(type(tup))
print(tup)

('blue', 'red', 'orange', 'yellow', 'black', 'white')
<class 'tuple'>
['blue', 'red', 'orange', 'yellow', 'black', 'white']
<class 'list'>
['blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white']
<class 'tuple'>
('blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white')

In [54]:
#tuple concat +
a_tup3 = (10,20,30)
a_tup4 = ('d','b','c')
print(a_tup3)
print(a_tup4)
#concat

var1 = a_tup3 + a_tup4

print("The concat is :",var1)

(10, 20, 30)
('d', 'b', 'c')
The concat is : (10, 20, 30, 'd', 'b', 'c')

In [19]:
#remove items using list

print(tup)
print(type(tup))

var = list(tup)
print(type(var))
print(var)

var.remove('pink')

tup= tuple(var)
print(tup)
print(type(tup))

('blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white')
<class 'tuple'>
<class 'list'>
['blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white']
('blue', 'red', 'orange', 'yellow', 'black', 'white')
<class 'tuple'>

In [49]:
#complete deletion of tuple using del tuple_name

tup5 = ('a','b','c','d')
print(tup5)
del tup5      #here delete complete tuple
print(tup5)  # name 'tup5' is not defined

('a', 'b', 'c', 'd')

NameError: name 'tup5' is not defined

In [30]:
#use asterisk

colours = ('blue', 'red', 'orange', 'yellow', 'black', 'white')

(apple,*banana,mango) = colours

print(apple)
print(banana)
print(mango)

blue
['red', 'orange', 'yellow', 'black']
white

In [14]:
colours = ('blue', 'red', 'orange', 'yellow', 'black', 'white')

(apple,banana,*mango) = colours

print(apple)
print(banana)
print(mango)

blue
red
['orange', 'yellow', 'black', 'white']

In [15]:
#count() and index()
print(tup)
cnt=tup.count('red')
print(cnt)

('blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white')
1

In [18]:
print(tup)
loc = tup.index('pink')
print(loc)

('blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white')
3