
# Typecasting

There are three numeric types in python
1] int
2] float
3] complex

In [1]:
#print("int, float to string:")


print("int to string:")
a=10
var=20.4
print(a)
print(type(a))
var1=str(a)
print(var1)
print(type(var1))


print("float to string:")
print(var)
print(type(var))
var2=str(var)
print(var2)
print(type(var2))

int to string:
10
<class 'int'>
10
<class 'str'>
float to string:
20.4
<class 'float'>
20.4
<class 'str'>

In [2]:
#print("int, string to float")
a=10
str1="100.5"
str2="nitin"

print("int to float:")


print(a)
print(type(a))
var1=float(a)
print(var1)
print(type(var1))

print("string to float:")

print(str1)
print(type(str1))
var2=float(str1)
print(var2)
print(type(var2))

print(str2)
print(type(str2))
var3=foat(str2)
print(var3)
print(type(var3))

int to float:
10
<class 'int'>
10.0
<class 'float'>
string to float:
100.5
<class 'str'>
100.5
<class 'float'>
nitin
<class 'str'>

NameError: name 'foat' is not defined

In [ ]:
#print("float,string to int")
var=20.5
str1="100"
str2="nitin"

print("float to int:")
print(var)
print (type(var))
var1=int(var)
print(var1)
print(type(var1))

print("string to int:")
print(str1)
print(type(str1))
var2=int(str1)
print(var2)
print(type(var2))

print(str2)
print(type(str2))
var3=int(str2)
print(var3)
print(type(var3))

complex number

In [ ]:
print("complex to string:")
comp=3+5j
print(comp)
print(type(comp))
var=str(comp)
print(var)
print(type(var))

Now we do string to complex

In [ ]:
str1="3+5j"
str2="nitin"
print(str1)
print(type(str1))
var1=complex(str1)
print(var1)
print(type(var1))

print(str2)
print(type(str2))
var2=complex(str2)
print(var2)
print(type(var2))

# Other types to complex conersion

In [ ]:
var=20
print(var)
print(type(var))
var1=complex(var)
print(var1)
print(type(var1))


var2=10.5
print(var2)
print(type(var2))
var3=complex(var2)
print(var3)
print(type(var3))



var4="20.6"
print(complex(var4))

In [ ]:
print(complex(5,2))
print(complex(20.5,4))

print(complex(True,False))

# Boolean

Bool()

In [ ]:
print(int(True))

In [ ]:
print(int(False))

In [ ]:
print(float(True))

In [ ]:
print(float(False))

In [ ]:
print(complex(True))

In [ ]:
print(complex(False))

a=0+0j
print(a)

In [ ]:
print(str(True))

In [ ]:
print(str(False))

In [ ]:
print(bool(3.2))
print(bool(0.0))

In [ ]:
print(bool(1))
print(bool(0))

In [ ]:
print(bool(""))
print(bool())
print(bool(45))
print (bool("n"))

In [3]:
print(bool(2+3j))
print(bool(2+0j))
print(bool(0+3j))
print (bool(0+0j))

True
True
True
False

# String Slicing

#Slicing is making pieces of some separator
#[]is aslice operator

In [4]:
str1="This tutorial is basically designed for beginers"

str1[0]

'T'

In [5]:
str1[11]

'a'

In [6]:
str1[0:]

'This tutorial is basically designed for beginers'

In [7]:
str1[:0]

''

In [8]:
str1[4:15]

' tutorial i'

In [9]:
str1

'This tutorial is basically designed for beginers'

In [10]:
str1[:25]

'This tutorial is basicall'

In [11]:
type(str1)

str

In [12]:
str1[-1]

's'

In [13]:
str1[-19:]

'signed for beginers'

In [14]:
str1[-13:-2]

' for begine'

In [15]:
str1[-1:]

's'

In [16]:
str3=str1[:14]
str3*3

'This tutorial This tutorial This tutorial '

In [17]:
str1[:-1]

'This tutorial is basically designed for beginer'

In [18]:
str1[:-16]

'This tutorial is basically desig'

In [19]:
str3=str1[:-20]
str3*3

'This tutorial is basically dThis tutorial is basically dThis tutorial is basically d'

In [20]:
str3=str1[12:]
str3*3

'l is basically designed for beginersl is basically designed for beginersl is basically designed for beginers'

In [21]:
str4=str1[2:23]
str4*2

'is tutorial is basicais tutorial is basica'

# Immutability

#In python once an object is created ,we are not allowed to change 
#The content,if youn want to change  the content PVM will create a# new object for it

In [22]:
var=200
var1=var
print(id(var))
print("and \n",id(var1))
print(var is var1)

10920864
and
 10920864
True

In [23]:
var= 2+3j
var1=2+3j
print(var is var1)
print(id(var))
print("and \n",id(var1))  #id is different

False
140357925834512
and
 140357925834064

assignment :Try same string and boolean types

In [24]:
#for string


var="nitin"
var1=var
print(id(var))
print("and \n",id(var1))
print(var is var1)

140357925780368
and
 140357925780368
True

In [25]:
var="khot"
var1="khot"
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
140357925021880
and
 140357925021880

In [26]:
#for boolean

var=True
var1=var
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
10302848
and
 10302848

In [27]:
var=True
var1=True
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
10302848
and
 10302848

In [28]:
var=True
var1=False
print(var is var1)
print(id(var))
print("and \n",id(var1))

False
10302848
and
 10300256

In [29]:
var=False
var1=False
print(var is var1)
print(id(var))
print("and \n",id(var1))

True
10300256
and
 10300256

# Bytes and Bytearray Data Type

In [30]:
#bytes can hold the values  from 0 to 256
#You cant change the value of bytes once itis created


a = [10,20,30,40,50,60,70,80]
print(type(a))

b = bytes(a)  #b[2]=90
              #it will raise error
             #bytes object doe not support item assignment

print(type(b))

for i in b:
    print(i)

<class 'list'>
<class 'bytes'>
10
20
30
40
50
60
70
80

In [31]:
#Bytearray
#You can change the value of bytearray after creation also 


a=[10,20,30,40,50]
print (type(a))

b = bytearray(a)

print(type(b))
for i in b:
        print(i)
        
b[2]= 200
print("New List:")
for i in b:
    print(i)
print("This is Difference")

<class 'list'>
<class 'bytearray'>
10
20
30
40
50
New List:
10
20
200
40
50
This is Difference

# Data Types

Text type = str
Numeric types = int,float,complex
Sequence types = list, tuple,range
Mapping type = dict
Set types = set, frozenset
Boolean type = bool
Binary types = bytes bytearray,memoryview

# 1.List

In [32]:
#Example

list1 = [10,20,30,40,50]
list2 = [10.1,20.2,30.3,40.4,50.5]
list3 = ['Nitin','Rahul','Datta','Ajay']
list4 = [20,10.1,'Nitin']

print(list1)
print(list2)
print(list3)
print(list4)

[10, 20, 30, 40, 50]
[10.1, 20.2, 30.3, 40.4, 50.5]
['Nitin', 'Rahul', 'Datta', 'Ajay']
[20, 10.1, 'Nitin']

In [33]:
print(type(list1))

<class 'list'>

In [34]:
print(list1[2])
print(list2[0])
print(list3[0])
print(list1)
print(list2)
print(list3)
print(list4)

30
10.1
Nitin
[10, 20, 30, 40, 50]
[10.1, 20.2, 30.3, 40.4, 50.5]
['Nitin', 'Rahul', 'Datta', 'Ajay']
[20, 10.1, 'Nitin']

In [35]:
list1[0:4]

[10, 20, 30, 40]

In [36]:
list2[:-3]

[10.1, 20.2]

In [37]:
print("length of list1")
print(len(list1))

length of list1
5

In [38]:
print(list1)
list1.append('Nitin')
print(list1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 'Nitin']

In [39]:
print(list1)
list1.remove('Nitin')
print(list1)

[10, 20, 30, 40, 50, 'Nitin']
[10, 20, 30, 40, 50]

In [40]:
print(list1)
list1.remove(20)
print(list1)

[10, 20, 30, 40, 50]
[10, 30, 40, 50]

#assignment
1.append
2.copy 
3.count 
4.insert 
5.index 
6.pop 
7.remove 
8.reverse 
9.extend
10.sort 
11.clear

In [41]:
list1 = [10,20,30,40,50]

#append

print(list1)
list1.append(60)
print(list1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]

In [42]:
#copy

print(list1)
list1.copy 
print(list1)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [43]:
#count

print(list1)
cnt=list1.count(20)
print(cnt)

[10, 20, 30, 40, 50, 60]
1

In [44]:
#insert

print(list1)
list1.insert(3,55)
print(list1)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 55, 40, 50, 60]

In [45]:
#index

print(list1)
loc = list1.index(30)
print(loc)

[10, 20, 30, 55, 40, 50, 60]
2

In [46]:
#pop

print(list1)
list1.pop(2)
print(list1)

[10, 20, 30, 55, 40, 50, 60]
[10, 20, 55, 40, 50, 60]

In [47]:
#remove

print(list1)
list1.remove(50)
print(list1)

[10, 20, 55, 40, 50, 60]
[10, 20, 55, 40, 60]

In [48]:
#reverse

print(list1)
list1.reverse()
print(list1)

[10, 20, 55, 40, 60]
[60, 40, 55, 20, 10]

In [49]:
#sort

print(list1)
list1.sort()
print(list1)

[60, 40, 55, 20, 10]
[10, 20, 40, 55, 60]

In [50]:
#extend

print(list1)
l=[100]
list1.extend(l)
print(list1)

[10, 20, 40, 55, 60]
[10, 20, 40, 55, 60, 100]

In [51]:
#clear

print(list1)
list1.clear()
print(list1)

[10, 20, 40, 55, 60, 100]
[]

In [52]:
list2 = [10.4,50.4,30.6,20.5,40.1]   #Float

In [53]:
#append

print(list2)
list2.append(60.7)
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1]
[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]

In [54]:
#copy

print(list2)
list2.copy
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]

In [55]:
#count

print(list2)
list2.count(20.5)
print(list2.count(20.5))

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
1

In [56]:
#insert

print(list2)
list2.insert(3,34.4)
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 34.4, 20.5, 40.1, 60.7]

In [57]:
#index

print(list2)
loc=list2.index(34.4)
print(loc)

[10.4, 50.4, 30.6, 34.4, 20.5, 40.1, 60.7]
3

In [58]:
#pop


print(list2)
list2.pop(3)
print(list2)

[10.4, 50.4, 30.6, 34.4, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]

In [59]:
#remove

print(list2)
list2.remove(40.1)
print(list2)

[10.4, 50.4, 30.6, 20.5, 40.1, 60.7]
[10.4, 50.4, 30.6, 20.5, 60.7]

In [60]:
#reverse

print(list2)
list2.reverse()
print(list2)

[10.4, 50.4, 30.6, 20.5, 60.7]
[60.7, 20.5, 30.6, 50.4, 10.4]

In [61]:
#sort

print(list2)
list2.sort()  #ascending order
print(list2)

[60.7, 20.5, 30.6, 50.4, 10.4]
[10.4, 20.5, 30.6, 50.4, 60.7]

In [62]:
print(list2)
list2.sort(reverse=True) #descnding order
print(list2)

[10.4, 20.5, 30.6, 50.4, 60.7]
[60.7, 50.4, 30.6, 20.5, 10.4]

In [63]:
#Extend


print(list2)
list2.extend(list2)
print(list2)

[60.7, 50.4, 30.6, 20.5, 10.4]
[60.7, 50.4, 30.6, 20.5, 10.4, 60.7, 50.4, 30.6, 20.5, 10.4]

In [64]:
#print(list2)
#list2.extend(7) #'int' object is not iterable
                #here list,tuple,string are the iterable
#print(list2)

In [65]:
#Clear

print(list2)
list2.clear  
print(list2)

[60.7, 50.4, 30.6, 20.5, 10.4, 60.7, 50.4, 30.6, 20.5, 10.4]
[60.7, 50.4, 30.6, 20.5, 10.4, 60.7, 50.4, 30.6, 20.5, 10.4]

In [66]:
list3 = ['Nitin', 'Rahul', 'Datta', 'Ajay']

In [67]:
#append

print(list3)
list3.append('Nitin')  
print(list3)

['Nitin', 'Rahul', 'Datta', 'Ajay']
['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']

In [68]:
#copy


print(list3)
list3.copy
print(list3)

['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']
['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']

In [69]:
#count

print(list3)
count=list3.count('Nitin')
print(count)

['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']
2

In [70]:
#insert

print(list3)
list3.insert(2,'Sagar')  
print(list3)

['Nitin', 'Rahul', 'Datta', 'Ajay', 'Nitin']
['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay', 'Nitin']

In [71]:
#index

print(list3)
loc=list3.index('Nitin',2) 
print(loc)

['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay', 'Nitin']
5

In [72]:
#pop

print(list3)
list3.pop(5)
print(list3)

['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay', 'Nitin']
['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay']

In [73]:
#remove

print(list3)
list3.remove('Ajay')
print(list3)

['Nitin', 'Rahul', 'Sagar', 'Datta', 'Ajay']
['Nitin', 'Rahul', 'Sagar', 'Datta']

In [74]:
#reverse

print(list3)
list3.reverse()
print(list3)

['Nitin', 'Rahul', 'Sagar', 'Datta']
['Datta', 'Sagar', 'Rahul', 'Nitin']

In [75]:
#sort

print(list3)
list3.sort() #ascending 
print(list3)

['Datta', 'Sagar', 'Rahul', 'Nitin']
['Datta', 'Nitin', 'Rahul', 'Sagar']

In [76]:
#print(list3)
print(list3)
list3.sort(reverse=True)
print(list3)

['Datta', 'Nitin', 'Rahul', 'Sagar']
['Sagar', 'Rahul', 'Nitin', 'Datta']

In [77]:
#Extend

print(list3)
list3.extend("a")
print(list3)

['Sagar', 'Rahul', 'Nitin', 'Datta']
['Sagar', 'Rahul', 'Nitin', 'Datta', 'a']

In [78]:
#clear

print(list3)
list3.clear()
print(list3)

['Sagar', 'Rahul', 'Nitin', 'Datta', 'a']
[]

# 2 Tuple

1.Tuple is ordered and unchangable
2.Immutable (you cant change the elements or cant added in tuple)
3.()are used to represent the tuple
4.Allow Duplicates
5.Tuples are read only version of your list except list is growable

In [79]:
tup = ("blue","red","green","yellow","black","white")

print(tup)

('blue', 'red', 'green', 'yellow', 'black', 'white')

In [80]:
len(tup)

6

In [81]:
tup1 = ("blue")
print(type(tup1))

tup1 = ("blue",)
print(type(tup1))

<class 'str'>
<class 'tuple'>

In [82]:
tup2 = ("potato",10,"n",45)
print(tup2)

('potato', 10, 'n', 45)

In [83]:
tup3 =tuple((10,20,30))  #tuple () is constructor
print(tup3)

(10, 20, 30)

In [84]:
#access
print(tup)
tup[1]

('blue', 'red', 'green', 'yellow', 'black', 'white')

'red'

In [85]:
print(tup)
tup[-3]

('blue', 'red', 'green', 'yellow', 'black', 'white')

'yellow'

In [86]:
#range of items
tup[1:4]

('red', 'green', 'yellow')

In [87]:
#Change tuple vlue using list
print(tup)
print(type(tup))
var=list(tup)
print(var)
print(type(var))

#change value

var[2]='orange'
print(var)

#convert back to tuple

tup= tuple(var)
print(type(tup))
print(tup)

('blue', 'red', 'green', 'yellow', 'black', 'white')
<class 'tuple'>
['blue', 'red', 'green', 'yellow', 'black', 'white']
<class 'list'>
['blue', 'red', 'orange', 'yellow', 'black', 'white']
<class 'tuple'>
('blue', 'red', 'orange', 'yellow', 'black', 'white')

In [88]:
#add items

print(tup)
print(type(tup))
var=list(tup)
print(var)
print(type(var))

var.insert(3,'pink')

print(var)

#convert back to tuple

tup= tuple(var)
print(type(tup))
print(tup)

('blue', 'red', 'orange', 'yellow', 'black', 'white')
<class 'tuple'>
['blue', 'red', 'orange', 'yellow', 'black', 'white']
<class 'list'>
['blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white']
<class 'tuple'>
('blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white')

In [89]:
#tuple concat +
a_tup3 = (10,20,30)
a_tup4 = ('d','b','c')
print(a_tup3)
print(a_tup4)
#concat

var1 = a_tup3 + a_tup4

print("The concat is :",var1)

(10, 20, 30)
('d', 'b', 'c')
The concat is : (10, 20, 30, 'd', 'b', 'c')

In [90]:
#remove items using list

print(tup)
print(type(tup))

var = list(tup)
print(type(var))
print(var)

var.remove('pink')

tup= tuple(var)
print(tup)
print(type(tup))

('blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white')
<class 'tuple'>
<class 'list'>
['blue', 'red', 'orange', 'pink', 'yellow', 'black', 'white']
('blue', 'red', 'orange', 'yellow', 'black', 'white')
<class 'tuple'>

In [91]:
#complete deletion of tuple using del tuple_name

tup5 = ('a','b','c','d')
print(tup5)
del tup5      #here delete complete tuple
print(tup5)  # name 'tup5' is not defined

('a', 'b', 'c', 'd')

NameError: name 'tup5' is not defined

In [ ]:
#use asterisk

colours = ('blue', 'red', 'orange', 'yellow', 'black', 'white')

(apple,*banana,mango) = colours

print(apple)
print(banana)
print(mango)

In [ ]:
colours = ('blue', 'red', 'orange', 'yellow', 'black', 'white')

(apple,banana,*mango) = colours

print(apple)
print(banana)
print(mango)

In [ ]:
#count() and index()
print(tup)
cnt=tup.count('red')
print(cnt)

In [ ]:
print(tup)
loc = tup.index('pink')
print(loc)

# 3 Set

1.Set is unordered collection of elements
2.It is mutable
3.It is growable
4.set items are unchangeable
5.{}are used represent set
6.Index concept isnot applicable
7.duplicates are not allowed

In [92]:
s = {1,2,"nitin","pear"}
print(s)

{1, 2, 'nitin', 'pear'}

In [93]:
print(len(s))

4

In [94]:
#set() constructor
set1 = set(("red","blue","green"))
print(set1)
print(type(set1))

{'red', 'blue', 'green'}
<class 'set'>

In [95]:
#accessing set

var = "red" in s

print(var)

print(1 in s)

False
True

In [96]:
#once st is created you cant change elements value
#but you can add the values

print(set1)
set1.add(1)
print(set1)

{'red', 'blue', 'green'}
{1, 'red', 'blue', 'green'}

In [97]:
#using update you can add any iterable items like set, list, tuple, dict-keys
set2 = {"apple","banana","mango"}
print(set2)
tup = (10,20,30)
print(tup)
set1.update(set2)
print(set1)
set1.update(tup)
print(set1)

{'mango', 'banana', 'apple'}
(10, 20, 30)
{1, 'green', 'apple', 'blue', 'mango', 'banana', 'red'}
{1, 'apple', 10, 20, 'red', 30, 'green', 'blue', 'mango', 'banana'}

In [98]:
#remove(),  discard(), pop()

print("Remove using remove:\n",set1)
set1.remove("blue")
print(set1)

print("Remove using discard:\n",set1)
set1.discard(1)
print(set1)

print("Remove using pop:\n",set1)
set1.pop()
print(set1)

Remove using remove:
 {1, 'apple', 10, 20, 'red', 30, 'green', 'blue', 'mango', 'banana'}
{1, 'apple', 10, 20, 'red', 30, 'green', 'mango', 'banana'}
Remove using discard:
 {1, 'apple', 10, 20, 'red', 30, 'green', 'mango', 'banana'}
{'apple', 10, 20, 'red', 30, 'green', 'mango', 'banana'}
Remove using pop:
 {'apple', 10, 20, 'red', 30, 'green', 'mango', 'banana'}
{10, 20, 'red', 30, 'green', 'mango', 'banana'}

In [99]:
#union

#adds elements of two sets and create new sets

print(s)
print()
s = s.union(set1)
print(s)

{1, 2, 'nitin', 'pear'}

{1, 2, 'pear', 10, 'nitin', 'green', 20, 'mango', 'banana', 'red', 30}

In [101]:
#intersection

print(s)
print(set1)
i = s.intersection(set1)
print("intersection is:",i)

#keeps duplicates in set1
s.intersection_update(set1)
print("intersection update  :",s)

{1, 2, 'pear', 10, 'nitin', 'green', 20, 'mango', 'banana', 'red', 30}
{10, 20, 'red', 30, 'green', 'mango', 'banana'}
intersection is: {10, 'green', 20, 'mango', 'banana', 'red', 30}
intersection update  : {10, 'green', 20, 'mango', 'banana', 'red', 30}

In [102]:
#keeps elements which are not present in other set

s_1 = {1,2,3,4,5}
s_2 = {3,4,5,6,7}


print(s)
print(set1)
s.symmetric_difference_update(set1)
print(s)


k = s_1.symmetric_difference(s_2)

v=s_1.difference(s_2)
print('symmetric difference:',k)
print(' difference:',v)

{10, 'green', 20, 'mango', 'banana', 'red', 30}
{10, 20, 'red', 30, 'green', 'mango', 'banana'}
set()
symmetric difference: {1, 2, 6, 7}
 difference: {1, 2}

In [110]:
#isdisjoint()returns whether two sets are intersection or not
#issubset()returns whether another set contains this set are not
#issuperset()returns whether this set contains another set are not

print(s.isdisjoint(set1))
print(s.issubset(set1))
print(set1.issuperset(s))

True
True
True

In [106]:
#del and clear() method removes the set comletely

# 4 Frozenset

In [118]:
#Frozenset set is same as set but it is immmutable


set3 = {"apple","banana","grapes","orange"}
m = frozenset({1,2,3,"apple","grapes","orange"})

print(type(m))

print(m)


#print(type(set3))
n = frozenset(set3)
print(n)
print(type(n))

<class 'frozenset'>
frozenset({1, 2, 3, 'apple', 'grapes', 'orange'})
frozenset({'banana', 'grapes', 'apple', 'orange'})
<class 'frozenset'>

In [117]:
#supported methods for frozenset
#1.copy()

print(n)
print(type(n))
n.copy()
print(n)

frozenset({'banana', 'grapes', 'apple', 'orange'})
<class 'frozenset'>
frozenset({'banana', 'grapes', 'apple', 'orange'})

In [119]:
#2.difference

print(n)
print(m)
p = n.difference(m)
print("difference is :",)

frozenset({'banana', 'grapes', 'apple', 'orange'})
frozenset({1, 2, 3, 'apple', 'grapes', 'orange'})
difference is : frozenset({'banana'})

In [122]:
#3.intersection

#print(n)
#print(m)
d=set(n)
print(d)
print(type(d))

e=set(m)
print(e)
print(type(e))
b = d.intersection(e)
fr = frozenset(b)
print(fr)
print(type(fr))

{'banana', 'grapes', 'apple', 'orange'}
<class 'set'>
{1, 2, 3, 'apple', 'grapes', 'orange'}
<class 'set'>
frozenset({'grapes', 'apple', 'orange'})
<class 'frozenset'>

In [123]:
#4.isdisjoint

print(m)
print(n)
l=n.isdisjoint(m)
print(l)

frozenset({1, 2, 3, 'apple', 'grapes', 'orange'})
frozenset({'banana', 'grapes', 'apple', 'orange'})
False

In [124]:
#5.issubset

print(m)
print(n)
l=n.issubset(m)
print(l)

frozenset({1, 2, 3, 'apple', 'grapes', 'orange'})
frozenset({'banana', 'grapes', 'apple', 'orange'})
False

In [125]:
print(m)
print(n)
l=m.issubset(n)
print(l)

frozenset({1, 2, 3, 'apple', 'grapes', 'orange'})
frozenset({'banana', 'grapes', 'apple', 'orange'})
False

In [126]:
#6.issuperset

print(m)
print(n)
l=n.issuperset(m)
print(l)

frozenset({1, 2, 3, 'apple', 'grapes', 'orange'})
frozenset({'banana', 'grapes', 'apple', 'orange'})
False

In [127]:
print(m)
print(n)
l=m.issubset(n)
print(l)

frozenset({1, 2, 3, 'apple', 'grapes', 'orange'})
frozenset({'banana', 'grapes', 'apple', 'orange'})
False

In [134]:
#7.symmetric_difference

#print(m)
#print(n)
d=set(n)
print(d)
print(type(d))

e=set(m)
print(e)
print(type(e))

l=d.symmetric_difference(e)

fr = frozenset(l)
print(fr)
print("symmetric difference:",fr)
print(type(fr))

{'banana', 'grapes', 'apple', 'orange'}
<class 'set'>
{1, 2, 3, 'apple', 'grapes', 'orange'}
<class 'set'>
frozenset({1, 2, 3, 'banana'})
symmetric difference: frozenset({1, 2, 3, 'banana'})
<class 'frozenset'>

In [135]:
#8.union
print(m)
print(n)
k=m.union(n)
print(k)

frozenset({1, 2, 3, 'apple', 'grapes', 'orange'})
frozenset({'banana', 'grapes', 'apple', 'orange'})
frozenset({1, 2, 3, 'apple', 'grapes', 'orange', 'banana'})